@font-face {
  font-family: "HeliosC-regular";
  src: url("../fonts/heliosc.woff2") format("woff2"),
    url("../fonts/heliosc.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HeliosC-bold";
  src: url("../fonts/heliosc-bold.woff2") format("woff2"),
    url("../fonts/heliosc-bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HeliosC-italic";
  src: url("../fonts/heliosc-italic.woff2") format("woff2"),
    url("../fonts/heliosc-italic.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HeliosC-bolditalic";
  src: url("../fonts/heliosc-bolditalic.woff2") format("woff2"),
    url("../fonts/heliosc-bolditalic.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Volvobroadpro-regular";
  src: url("../fonts/volvobroadpro-regular.woff2") format("woff2"),
    url("../fonts/volvobroadpro-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}