@mixin mobile {
  @media (max-width: $desktop-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width + 1) and (max-width: $desktop-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width + 1) {
    @content;
  }
}

@mixin complect {
  @media (min-width: $desktop-width + 1) and (max-width: $desktop-max-width + 16px) {
    @content;
  }
}

@mixin retina($retinaX) {
  @if $retinaX == 2 {
    @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
      @content;
    }
  }

  @if $retinaX == 3 {
    @media (min-resolution: $retina3x-dpi), (min-resolution: $retina3x-dppx) {
      @content;
    }
  }
}

@mixin heliosc-regular {
  font-family: "HeliosC-regular", "Arial", sans-serif;
  font-weight: 400;
}

@mixin heliosc-bold {
  font-family: "HeliosC-bold", "Arial", sans-serif;
  font-weight: 700;
}

@mixin heliosc-italic {
  font-family: "HeliosC-italic", "Arial", sans-serif;
  font-style: italic;
}

@mixin heliosc-bolditalic {
  font-family: "HeliosC-bolditalic", "Arial", sans-serif;
  font-weight: 700;
  font-style: italic;
}

@mixin volvobroad-pro {
  font-family: "Volvobroadpro-regular", "Arial", sans-serif;
  font-weight: 400;
}

@mixin volvo {
  font-family: $default-font, "Helvetica", "Arial", serif;
  font-weight: 400;

}

@mixin volvo_h1 {
  @include volvobroad-pro;
  font-size: 80px;
  line-height: 80px;
}

@mixin volvo_h2 {
  @include volvobroad-pro;
  font-size: 48px;
  line-height: 55px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

@mixin volvo_h3 {
  @include volvobroad-pro;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

@mixin volvo_h4 {
  @include volvobroad-pro;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
