* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #000000;
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.mobile-only {
  display: block;

  @include desktop {
    display: none;
  }
}

.desktop-only {
  display: none;

  @include desktop {
    display: block;
  }
}

input {
  border-radius: 0;
}

input[type=text],
input[type=tel]{
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.main-wrapper--header-show {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}

.body--scroll {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}
