// resolutions
$mobile-min-width: 320px;
$tablet-width: 767px;
$desktop-width: 1279px;
$desktop-max-width: 1440px;

$retina2x-dpi: 144dpi;
$retina2x-dppx: 1.5dppx;
$retina3x-dpi: 288dpi;
$retina3x-dppx: 3dppx;

/* fonts */
$default-font: "VolvoBroadPro", "Helvetica", "Arial", sans-serif;
$article-font: "HeliosC",  "Helvetica", "Arial", sans-serif;

// colors
$main-bg: #1c3257;
$blue-bg: #3a75d6;
$orange-bg: #d1761a;
$lightgray-bg: #fafafa;
$gray-bg: #f5f5f5;
$gray2-bg: #e5e5e5;
$light-bg: #ffffff;
$black-bg: #000000;

$orange-text: #d1761a;
$error-text: #ff5a4b;
$main-text: #131318;
$dark-blue-text: #1c3257;
$add-text: #797979;
$white-text: #ffffff;
$blue-text: #3a75d6;

$separator: #d4d1bd;

$btn-transparent-bg: rgba(255, 255, 255, 0.1);


$footer-btn: rgba(255, 255, 255, 0.1);
$footer-text-border: rgba(255, 255, 255, 0.25);

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$header-white-on-black: #ffffff;
$header-white-on-black-hover: #d1761a;
$header-white-on-black-underline: rgba(255, 255, 255, 0.25);
$header-white-on-black-underline-hover: rgba(209, 118, 26, 0.25);

$header-orange-on-black: #d1761a;

$header-darkblue-on-white: #1c3257;
$header-darkblue-on-white-hover: #3a75d6;

$header-blue-on-white: #3a75d6;
$header-blue-on-white-hover: #d1761a;

$red-menu-item: #ff5a4b;

$toggle: rgba(28, 50, 87, 0.1);

// auto-colors exterior
$c019: #2d2e2f;
$c477: #aaaaaf;
$c492: #7d7d7d;
$c614: #dcdce1;
$c714: #969b9b;
$c717: #413242;
$c719: #beb4a5;
$c721: #8796aa;
$c722: #50413c;
$c723: #50555f;
$c724: #5a5a55;
$c725: #6e413c;

// auto-colors interior
$ra00: #000000;
$ra02: #000000;
$ra30: #463737;
$ra20: #d7b982;
$ra22: #d7b982;

$rc00: #000000;
$rc20: #d7b982;
$rc30: #463737;

$wc00: #d2d2cd;

$ua00: #d2d2cd;
$ua02: #d2d2cd;

$u310: #7d7d7d;

// цвет ошибки
$error-color: #ff5a4b;
