.actions {
  width: 100%;
  background-color: $gray-bg;
}

.actions__wrapper {
  padding: 50px 20px 38px;
  min-height: 1100px;
  text-align: center;

  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    width: 1110px;
    margin: 0 auto;
    padding: 68px 0 0;
    min-height: 1240px;
  }
}

.actions__title {
  margin-bottom: 40px;

  @include volvo_h3;

  color: $main-bg;
  letter-spacing: 0.5px;

  @include desktop {
    @include volvo_h2;
    margin-bottom: 65px;
    order: 1;
  }
}

.actions__item {
  margin-bottom: 20px;

  background-color: $light-bg;

  @include desktop {
    order: 2;
    min-height: 495px;
    margin-bottom: 30px;
  }
}

.actions__new-car a,
.actions__all a {
  @include heliosc-regular;

  font-size: 16px;
  line-height: 25px;
  color: $main-text;

  text-decoration: none;

  background-image: linear-gradient($separator, $separator);
  background-position: 0 1.11em;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  @include desktop {
    font-size: 18px;
  }

  &:hover,
  &:focus {
    color: $blue-text;
    background-image: linear-gradient(rgba($blue-text, 0.25), rgba($blue-text, 0.25));
  }
}

.actions__all a {
  background-position: 0 1.31em;

  @include desktop {
    background-position: 0 1.21em;
  }
}

.actions__new-car {
  margin-top: 42px;

  @include desktop {
    margin-top: 0;
    order: 0;

    &--offers {
      opacity: 0;
      cursor: none;
    }
  }
}

.actions__all {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include desktop {
    order: 1;
    margin-top: 0;
    justify-content: flex-end;
    align-items: center;
  }
}

.actions__count-actions {
  display: block;
  justify-content: flex-end;

  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 0;

  @include heliosc-regular;
  color: $white-text;
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;

  background: $blue-bg;
  border-radius: 50%;
}

.actions__new-car,
.actions__all {
  @include desktop {
    padding-top: 20px;
    width: 255px;
  }
}
