.advantage {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  padding-top: 50px;
  padding-bottom: 20px;

  background: $light-bg;

  @include desktop {
    padding-top: 69px;
    min-height: 1530px;
  }
}

.advantage__title {
  @include volvo_h3;
  margin-bottom: 40px;

  color: $main-bg;
  letter-spacing: 0.5px;
  text-align: center;

  @include desktop {
    @include volvo_h2;
    margin-bottom: 66px;
    order: 1;
  }
}

.advantage__item-wrapper {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1110px;
    margin: 0 auto;
  }
}

.advantage__item {
  width: 100%;
//height: 100%;
  min-height: 305px;
  margin-bottom: 20px;

  background: $gray-bg;

  @include desktop {
    position: relative;
    min-height: 400px;
    width: 540px;
    margin-bottom: 30px;

    &:last-child {
      width: 100%;
    }
  }
}

.advantage__item img {
  width: 100%;
}

.advantage__item--hide,
.advantage__btn--hide {
  display: none;

  @include desktop {
    display: block;
  }
}

.advantage__preview-text {
  @include heliosc-regular;
  padding: 12px 20px;

  font-size: 16px;
  line-height: 25px;
  color: $main-text;

  @include desktop {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 360px;
    padding: 23px 40px 23px 32px;

    font-size: 18px;
    line-height: 25px;

    background: $gray-bg;
  }
}

.advantage__preview-text a {
  font-size: 16px;
  line-height: 25px;
  color: $blue-text;

  text-decoration: none;

  background-image: linear-gradient(rgba($blue-text, 0.25), rgba($blue-text, 0.25));
  background-position: 0 1.11em;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  &:hover,
  &:focus {
    color: $orange-text;
    background-image: linear-gradient(rgba($orange-text, 0.25), rgba($orange-text, 0.25));
  }

  @include desktop {
    font-size: 18px;
    line-height: 25px;
  }
}

.advantage__btn {
  margin: 30px auto;

  @include desktop {
    display: none;
  }
}

.advantage__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;

  z-index: 12;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1) 80%);
    background-position: center bottom;
    pointer-events: none;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 4px;
    width: 30px;
    height: 40px;
    left: -30px;
    right: 0;
    bottom: 0;
    background: $light-bg;
    z-index: 0;
    transform: skewY(13deg);
  }

  @include heliosc-regular;
  font-size: 16px;
  line-height: 25px;
  color: $main-text;
  background: $light-bg;

  padding: 20px;
  padding-bottom: 50px;

  & p {
    padding-bottom: 30px;
  }

  @include desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    padding: 20px 30px;

    font-size: 18px;
    line-height: 30px;
    background: $light-bg;
    box-shadow: -25px 0 50px rgba(0, 0, 0, 0.05);
  }
}

.advantage__popup--close {
  display: none;
}

.advantage__popup-wrapper {
  width: 100%;
  height: 100%;
  z-index: 12;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  padding-bottom: 100px;

  & p {
    padding-bottom: 120px;
    pointer-events: none;
  }
}

.advantage__btn-popup {
  outline: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;

  cursor: pointer;
  background: $light-bg;

  & path {
    stroke: $main-bg;
  }

  &:hover path,
  &:focus path {
    stroke: $blue-bg;
  }

  &:active path {
    stroke: rgba($main-bg, 0.15);
  }

  &:disabled path {
    stroke: rgba($main-bg, 0.15);
  }

  @include desktop {
    position: absolute;
    top: 0;
    left: -30px;
    margin: 0;
    z-index: 15;
    width: 40px;
    height: 40px;

    box-shadow: -25px 0 50px rgba(0, 0, 0, 0.05);
  }
}

.advantage__mark-list {
  @include heliosc-regular;
  list-style: none;
  color: $main-text;
  line-height: 25px;
  font-size: 16px;
  padding-bottom: 120px;

  @include desktop {
    display: block;
    line-height: 25px;
    font-size: 18px;
  }
}

.advantage__mark-list-item {
  display: flex;
  align-items: flex-start;

  @include desktop {
    margin-bottom: 5px;
  }

  &::before {
    content: "";
    box-sizing: border-box;
    display: block;
    min-width: 10px;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 1px solid #3a75d6;
    border-radius: 50%;
    margin-top: 8px;

    @include desktop {
      margin-top: 6px;
    }
  }
}
