.another {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 315px;
  width: 100%;
  padding: 20px;
  padding-top: 48px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray;
  background-image: url("../img/bg-another@1x.jpg");
  @include retina(2) {
    background-image: url("../img/bg-another@2x.jpg");
  }
  @include retina(3) {
    background-image: url("../img/bg-another@3x.jpg");
  }

  @include desktop {
    width: 100%;
    min-height: 550px;
    padding-top: 152px;
    background-color: gray;
    background-image: url("../img/bg-another-desktop@1x.jpg");
    @include retina(2) {
      background-image: url("../img/bg-another-desktop@2x.jpg");
    }
  }
}

.another__caption {
  @include volvobroad-pro;
  line-height: 40px;
  font-size: 40px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 33px;

  @include desktop {
    line-height: 80px;
    font-size: 80px;
    margin-bottom: 20px;
  }
}

.another__text {
  @include heliosc-regular;
  line-height: 25px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 35px;

  @include desktop {
    line-height: 35px;
    font-size: 26px;
    margin-bottom: 42px;
  }
}

.another__wrap {
  display: flex;
}

.another__link {
  @include heliosc-regular;
  line-height: 25px;
  font-size: 16px;
  text-align: center;
  color: #3a75d6;
  transition: all 0.4s;
  text-decoration: none;

  background-image: linear-gradient(rgba(58, 117, 214, 0.25), rgba(58, 117, 214, 0.25));
  background-position: 0 1.3em;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  &:hover {
    color: #d1761a;
    background-image: linear-gradient(rgba(209, 118, 26, 0.25), rgba(209, 118, 26, 0.25));
  }

  &:active {
    opacity: 0.7;
  }

  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 292px;

    padding: 5px 0;
    cursor: pointer;
    font-family: "HeliosC-bold", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    height: 60px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffffff;

    &:first-of-type {
      margin-right: 30px;
    }

    &:last-of-type {
      width: 255px;
    }

    &:hover {
      color: #1c3257;
      background: #ffffff;
    }

    &:active {
      color: #3a75d6;
      opacity: 1;
    }

    &:disabled {
      opacity: 0.15;
    }
  }
}
