.auto-info {
  width: 100%;

  @include desktop {
    padding: 0 165px;
  }
}

.auto-info__description {
  width: 100%;
  margin: 0 auto;
  max-width: $tablet-width;
  padding: 40px 20px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &>*:first-child {
    margin-top: 0;
  }

  &>*:last-child {
    margin-bottom: 0;
  }

  @include desktop {
    display: block;
    max-width: 1110px;
    padding: 70px 20px 71px;
  }
}

.auto-info__subtitle {
  @include volvo_h3;
  margin-bottom: 40px;

  color: $main-bg;
  letter-spacing: 0.5px;
  text-align: center;

  @include desktop {
    @include volvo_h2;
    margin-top: 70px;
    margin-bottom: 51px;
    order: 0;
  }
}

.auto-info__description p {
  @include heliosc-regular;

  font-size: 16px;
  line-height: 25px;
  color: $add-text;
  margin-bottom: 30px;

  a {
    text-decoration: none;
  }

  span {
    color: $blue-bg;
  }

  @include desktop {
    width: 730px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
  }
}

p.auto-info__paragraph-big {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 30px;
  color: $main-text;
  text-align: left;

  @include desktop {
    text-align: center;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0.3px;
    width: 100%;
    margin-top: 51px;
    margin-bottom: 60px;
  }
}

p.auto-info__price {
    font-size: 16px;
    line-height: 25px;
    color: $add-text;
}

/************ --- services --***************/
/* .auto-info__list-title {
  @include heliosc-regular;

  font-size: 20px;
  line-height: 30px;
  color: $main-text;
  text-align: left;

  @include desktop {
    padding: 26px 25px 28px;
    text-align: center;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0.3px;
  }
} */
/*
.auto-info__description--services {
  padding-bottom: 30px;
}

.auto-info .auto-info__description .auto-info__contacts {
  font-size: 16px;
  line-height: 25px;
  color: $add-text;

  a {
    text-decoration: none;
  }

  span {
    color: $blue-bg;
  }

  @include desktop {
    width: 730px;
    padding: 0;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
  }
} */

.auto-info__list {
  list-style: none;
  font-size: 16px;
  line-height: 25px;
  color: $add-text;
  margin-bottom: 30px;

  a {
    text-decoration: none;
  }

  //span {
  //  color: $blue-bg;
  //}

  @include desktop {
    width: 730px;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
  }
}

.auto-info__list-item {
  @include heliosc-regular;
  text-align: left;
  padding-left: 25px;
  position: relative;

  &::before {
    content: "";
    box-sizing: border-box;
    display: block;
    min-width: 10px;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border: 1px solid #3a75d6;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 7px;
  }


  a {
    text-decoration: none;
    color: $blue-bg;
  }

  a span {
    color: $blue-bg;
  }
}

.auto-info__blue-text {
  color: $blue-bg;
}

/* .auto-info__contacts {
  font-size: 16px;
  line-height: 25px;
  color: $add-text;
} */

/* .auto-info__description .auto-info__list-title {
  padding: 0;
  margin-bottom: 50px;

  @include desktop {
    margin-bottom: 60px;
  }
} */

.auto-info__img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 45px;

  &--hl {
    max-width: 500px;
  }

  &--usl {
    max-width: 500px;
  }

  &--photo {
    margin-bottom: 50px;

    img {
      width: 100%;
      margin: 0 auto;
    }
  }
}

.auto-info__img--services {
  margin-top: 60px;
  margin-bottom: 70px;
  & img {
    margin: 0 auto;
    margin-bottom: 10px;

    &:last-child,
    &:only-child {
      margin-bottom: 0;
    }
  }
}

.auto-info__img-wrapper {
  margin-bottom: 30px;

  @include desktop {
    display: flex;
    justify-content: space-around;
    margin-bottom: 75px;
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    margin-bottom: 0;
  }
}

.auto-info__description--service {
  @include desktop {
    padding-right: 0;
    padding-left: 0;
    padding-top: 70px;
  }
}
