.dn-auto {
  display: none;
  position: absolute;
  top: 55px;
  z-index: 1;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-top: 1px solid #d4d1bd;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.05);
}

.dn-auto__line {
  flex-shrink: 0;
  height: 219px;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #d4d1bd;
}

.dn-auto__line-content {
  display: flex;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.dn-auto__line-caption {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 110px;
  margin-bottom: 53px;
  margin-right: 68px;
  @include volvobroad-pro;
  line-height: 25px;
  font-size: 22px;
  letter-spacing: 0.5px;
  color: #1c3257;

  &--fix-margin-s60 {
    margin-right: 56px;
  }
}

.dn-auto__line-content > .dn-auto__item:last-of-type {
  margin-right: 0;
}

.dn-auto__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 30px;

  &--fix-margin-s60 {
    margin-right: 44px;
  }

  &--fix-margin-xc40 {
    margin-right: 22px;
  }
}

.dn-auto__model-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  text-decoration: none;

  &--fix-margin-s60 {
    margin-left: 12px;
  }

  &--fix-margin-xc40 {
    margin-left: 10px;
  }
}

.dn-auto__model-name {
  @include volvobroad-pro;
  line-height: 55px;
  font-size: 40px;
  letter-spacing: 0.5px;
  color: #1c3257;
  margin-right: 12px;
}

.dn-auto__model-price {
  @include heliosc-regular;
  line-height: 25px;
  font-size: 16px;
  color: #131318;

  & span {
    color: #3a75d6;
  }
}
