.auto-cards {
  width: 100%;
  padding: 0 20px;
  max-width: 1110px;
  margin-bottom: 0;

  @include desktop {
    margin-bottom: 50px;
    padding: 0;
  }
}

.auto-cards__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @include desktop {
    max-width: 1110px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.auto-cards__item {
  width: 100%;
  min-width: 280px;
  background: #ffffff;
  margin-bottom: 20px;
  position: relative;

  @include tablet {
    flex-basis: 350px;
    flex-grow: 1;
    margin-right: 10px;
  }

  @include desktop {
    max-width: 350px ;
    margin-bottom: 30px;
    flex-grow: 0;
    margin-right: 0;

    &:nth-last-child(2) {
      order: 2;
    }
  }
}

.auto-cards__item img {
  width: 100%;
}

.auto-cards__info {
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 280px;
  min-height: 245px;
  @include heliosc-regular;
  text-align: center;

  @include desktop {
    width: 350px;
    min-height: 250px;
  }
}

.auto-cards__title {
  margin-top: 0;
  margin-bottom: 15px;
  @include heliosc-regular;
  font-size: 20px;
  line-height: 30px;
  color: $main-bg;

  @include desktop {
    margin-bottom: 13px;
    font-size: 26px;
    line-height: 35px;
  }

  a {
    text-decoration: none;

    &:hover {
      color: $blue-bg;
    }
  }
}

.auto-cards__desc {
  margin: 0 auto;
  width: 220px;
  font-size: 16px;
  line-height: 25px;
  color: $main-text;

  @include desktop {
    font-size: 18px;
    width: 240px;
  }
}

.auto-cards__separator {
  display: block;
  margin: 22px auto;
  width: 30px;
  height: 1px;
  background-color: $separator;
}

.auto-cards__wrap {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auto-cards__cost {
  font-size: 16px;
  line-height: 25px;
  color: $blue-bg;
  margin-left: 10px;

  &--initial {
    color: $add-text;
    font-size: 14px;
    line-height: 20px;
    text-decoration: line-through;
    text-decoration-color: red;
  }

  @include desktop {
    font-size: 18px;
  }
}

.auto-cards__ofice {
  margin-left: 10px;
  color: $add-text;

  @include desktop {
    font-size: 18px;
  }
}

.auto-cards__item--special-offer {
  padding: 20px 30px;
  text-align: center;
  background-color: $gray-bg;
  border: 1px solid $separator;

  @include tablet {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include desktop {
    padding-left: 10px;
    padding-right: 10px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 1;
  }

  .auto-cards__desc {
    @include heliosc-regular;
    font-size: 18px;
    line-height: 25px;

    @include desktop {
      width: 88%;
    }

    span {
      color: $blue-bg;
    }

    a {
      color: $blue-bg;
      text-decoration: none;

      &:hover {
        color: $orange-bg;
      }
    }
  }

  .auto-cards__separator {
    width: 24px;
    margin: 25px auto 20px;
  }
}
