.btn {

  &__close {
    width: 22px;
    height: 22px;
    color: $light-bg;
    background-color: transparent;
    background-image: url("../icons/icon-cross-white-normal.svg");
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
      background-image: url("../icons/icon-cross-white-hover.svg");
    }

    &:disabled {
      background-image: url("../icons/icon-cross-white-disabled.svg");
    }

    &:focus {
      outline: none;
    }
  }

  &__rectangle {
    width: 100%;
    height: 60px;
    background-color: $light-bg;
    color: $main-bg;
    @include heliosc-bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;

    @include desktop {
      width: 255px;
      margin-top: 0;
    };

    &:hover,
    &:focus {
      color: $light-bg;
      background-color: $blue-bg;
    }

    &:active {
      background: #3569c1;
    }

    &:disabled {
      color: $main-bg;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #3A75D6;
    }

    &:disabled {
      color: $main-bg;
      background: $light-bg;
    }

    &--show-more {
      width: auto;
      padding: 20px 50px;
      border: 1px solid $main-bg;
      background-color: transparent;

      &:hover,
      &:focus {
        color: $light-bg;
        background-color: $main-bg;
      }

      &:active {
        color: $light-bg;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), #1C3257;
      }

      &:disabled {
        opacity: 0.15;
      }

    }
  }
}
