.car-card {
  @include heliosc-regular;

  & .car-card__title {
    padding: 0;
  }

  @include desktop {
    padding-bottom: 0;
    width: 540px;
  }
}

.car-card--services {
  min-height: 0;

  & .car-card__date {
    padding: 0;
  }
}

.car-card--full {

  @include desktop {
    display: block;
    width: 100%;
  }
}

.car-card img {
  margin-bottom: 0;
  width: 100%;
}

.car-card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 16px;
  padding-bottom: 22px;
  //min-height: 235px;

  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //min-height: 218px;
    padding-top: 19px;
    padding-bottom: 22px;
  }
}

.car-card__title {
  @include heliosc-regular;
  padding: 0 40px;
  margin-bottom: 15px;

  font-size: 20px;
  line-height: 30px;
  color: $main-bg;

  @include desktop {
    vertical-align: center;
    font-size: 26px;
    margin-bottom: 12px;
  }
}

.car-card__title-link {
  text-decoration: none;
  color: $main-bg;
  line-height: 30px;

  &:hover,
  &:focus {
    color: $blue-text;
  }

  @include desktop {
    line-height: 35px;
  }
}

.car-card__text,
.car-card__date {
  padding: 0 12px;

  font-size: 16px;
  line-height: 25px;
  color: $main-text;

  @include desktop {
    font-size: 18px;
    line-height: 25px;
  }
}

.car-card__separator {
  display: block;
  margin: 22px auto;
  width: 30px;
  height: 1px;

  background-color: $separator;

  @include desktop {
    margin: 24px auto 20px;
  }
}

.car-card__date {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  color: $add-text;

  &::before {
    content: "";
    display: block;
    width: 22px;
    height: 24px;
    margin-right: 10px;

    background-image: url("../icons/icon-calendar.svg");
    background-repeat: no-repeat;
  }
}
