.cards {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    width: 1110px;
    margin: 0 auto;
  }
}

.cards__item {
  width: 100%;
  min-height: 395px;
  background: #ffffff;
  margin-bottom: 20px;
  outline: 1px solid red;

  @include desktop {
    min-height: 495px;
    max-width: 540px ;
    margin-bottom: 0   ;
  }
}

.cards__item:last-of-type {
  margin-bottom: 0;
}
