.centers {
  width: 100%;
  background: $gray-bg;

  @include desktop {
    min-height: 640px;
    margin: 0 auto;
    padding: 0;
  }
}

.centers__wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 0;
  //min-height: 1100px;
  text-align: center;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    width: 1110px;
    margin: 0 auto;
    padding: 68px 0 60px;

    flex-wrap: wrap;
  }
}

.centers__title {
  margin-bottom: 40px;

  @include volvo_h3;

  color: $main-bg;
  letter-spacing: 0.5px;

  @include desktop {
    @include volvo_h2;
    width: 100%;
    margin-bottom: 67px;
    order: 1;
  }
}

.centers__item {
  background: #ffffff;
  min-height: 400px;
  margin-bottom: 20px;

  @include desktop {
    order: 1;
    width: 350px;
    min-height: 450px;
  }
}
