.complectation {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 211px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 48px;
  padding-bottom: 10px;
  background-color: $gray2-bg;
  border-top: 1px solid #3a75d6;

  @include desktop {
    min-height: 515px;
    padding-top: 68px;
    padding-bottom: 10px;
  }
}

.complectation__caption {
  @include volvobroad-pro;
  display: block;
  margin: 0 auto;
  margin-bottom: 33px;

  font-size: 40px;
  line-height: 40px;
  color: $blue-text;
  letter-spacing: 0.5px;
  text-align: center;

  @include desktop {
    margin-bottom: 55px;
    font-size: 48px;
    line-height: 55px;
  }
}

.complectation__lead {
  margin-bottom: 43px;
  padding-left: 20px;
  padding-right: 20px;
  @include heliosc-regular;
  font-size: 18px;
  line-height: 25px;
  color: $main-text;
  text-align: center;

  @include desktop {
    width: 920px;
    margin: 0 auto;
    margin-bottom: 72px;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0.3px;
  }
}

.complectation__desc {
  @include heliosc-regular;
  margin-top: 32px;
  margin-bottom: 43px;
  color: $main-text;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.2px;

  @include desktop {
    width: 800px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 67px;
    padding-left: 5px;
    line-height: 30px;
    font-size: 18px;
  }
}

/*.complectation__choice {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;

  @include desktop {
    display: none;
  }
}*/

.complectation .jq-selectbox li {
  background: #000000;
}

.complectation__choice-desktop {
  // margin-bottom: 32px;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 3s;

  @include desktop {
    width: 1110px;
    margin: 0 auto;
    margin-bottom: 68px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
  }
}

.complectation__btn,
.complectation__link {
  min-width: 280px;
  min-height: 80px;
  padding: 9px 20px 9px 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.15);

  @include heliosc-regular;
  background: rgba(255, 255, 255, 0.05);
  color: $main-text;
  line-height: 20px;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  outline: none;

  img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }

  &--active {
    background-color: $blue-bg;
    color: $white-text;
    border-color: transparent;
  }


  @include desktop {
    min-width: 160px;
    width: 160px;
    min-height: 306px;
    margin-bottom: 0;
    margin-right: 30px;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    line-height: 25px;
    font-size: 18px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    img {
      width: 140px;
      height: 140px;
      margin-top: 10px;
      margin-right: 0;
      margin-bottom: 20px;
      align-self: center;
    }

    span {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 25px;
    }
  }
}

.complectation__toggle,
.complectation__link-toggle {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 20px;
  @include heliosc-bold;
  height: 59px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.complectation__link,
.complectation__link-toggle {
  text-decoration: none;
}

.complectation__btn--active .complectation__toggle,
.complectation__btn--active .complectation__link-toggle {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.complectation__title {
  display: none;
  margin: 30px 0;

  @include heliosc-regular;
  color: $main-text;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.4px;
  width: 100%;
  text-align: center;

  &--blue {
    color: $blue-bg;
  }

  @include desktop {
    margin: 0 0 35px;
    font-size: 30px;
    line-height: 35px;
  }
}

.complectation__promise {
  display: none;
  margin: 15px 0 12px;
  padding: 22px 30px;

  @include heliosc-regular;
  color: $main-text;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.25px;
  width: auto;
  background-color: $light-bg;
  text-align: center;
  box-shadow: -25px 0 50px rgba(0, 0, 0, 0.05);
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 40px;
    position: absolute;
    top: -10px;
    left: 51%;
    transform: translateX(-25%);
    background-image: url("../icons/quotes.svg");
    background-repeat: no-repeat;
  }

  @include desktop {
    max-width: 1090px;
    font-size: 22px;
    line-height: 35px;
    margin: 8px auto 42px;
    padding: 15px 30px 17px;

    &::after {
      top: -12px;
    }
  }
}
