.dn-modal {
  display: block;
  min-width: $mobile-min-width;
  width: 100%;
  min-height: 795px;
  padding: 20px;
  text-align: center;
  background-color: $main-bg;
  transition: 0.35s;

  &--call {
    min-height: 635px;
  }

  &--to {
    min-height: 715px;
  }

  @include desktop {
    overflow: hidden;
    padding: 30px 0;
    min-height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/filter-blue.png'), url('../img/bg-modal-desktop@1x.jpg');

    & .ps__thumb-y {
      opacity: 0;
    }

    @include retina(2) {
      background-image: url('../img/filter-blue.png'), url("../img/bg-modal-desktop@2x.jpg");
    }
  }
}

.dn-modal__wrapper {
  width: 100%;
  max-width: 1110px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--hidden {
    display: none;
  }

  &--message {
    .dn-modal__title {
      margin-bottom: 21px;
    }

    .dn-modal__subtitle {
      margin-bottom: 32px;
    }
  }
}

.dn-modal__title {
  margin-top: 0;
  margin-bottom: 30px;

  @include volvobroad-pro;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.4px;
  color: $blue-bg;

  @include desktop {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 55px;
  }

  &--mobile {
    @include desktop {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include desktop {
      display: block;
      text-align: center;
    }
  }
}

.dn-modal__subtitle {
  margin-top: 0;
  margin-bottom: 43px;

  @include heliosc-regular;
  color: $light-bg;
  text-align: center;
  font-size: 16px;
  line-height: 25px;

  @include desktop {
    margin-top: 0;
    padding: 0;
    font-size: 20px;
    line-height: 35px;
  }
}

.dn-modal--call .dn-modal__subtitle {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0;

  @include desktop {
    margin-bottom: 37px;
  }
}

.dn-modal__text {
  display: block;
  margin: 0 auto;

  @include heliosc-regular;
  color: $light-bg;
  font-size: 16px;
  line-height: 25px;
  margin-top: 42px;

  @include desktop {
    margin-top: 20px;
    width: 540px;
    line-height: 30px;
  }

  a {
    color: $blue-bg;
    text-decoration: none;
    background-image: linear-gradient(rgba($blue-text, 0.25), rgba($blue-text, 0.25));
    background-position: 0 1.11em;
    background-repeat: no-repeat;
    background-size: 100% 1px;

    &:hover {
      color: $orange-bg;
      background-image: linear-gradient(rgba($orange-bg, 0.25), rgba($orange-bg, 0.25));
    }
  }
}

.dn-modal--to .dn-modal__text {
  max-width: 100%;
  margin: 44px 0 0;

  @include desktop {
    width: 825px;
    margin-top: 28px;
    text-align: left;
  }
}

.dn-modal__text-replace {
  &--mobile {
    display: inline-block;

    @include desktop {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include desktop {
      display: inline-block;
      margin-bottom: 37px;
      font-size: 20px;
      line-height: 35px;
    }
  }
}

.dn-modal__wrap-inner {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.dn-modal--to {

  @include desktop {
    .dn-modal__title {
      padding-top: 20px;
      margin-bottom: 22px;
    }

    .dn-modal__subtitle {
      margin-bottom: 40px;
    }

    .dn-modal__wrap-inner--revers {
      width: 1110px;
      flex-direction: row-reverse;

      .btn__rectangle {
        margin-top: 10px;
      }

      .dn-modal__text {
        margin-top: 25px;
      }
    }
  }
}

.dn-modal__input-box {
  width: 100%;
  position: relative;
  margin-bottom: 20px;

  @include desktop {
    width: 255px;
    margin-right: 30px;
  }
}

.dn-modal__input-box input {
  padding: 0 0 0 25px;
  height: 60px;
  width: 100%;

  @include heliosc-regular;
  font-size: 16px;
  line-height: 25px;
  color: $light-bg;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);

  @include desktop {

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    &:focus {
      border: 1px solid $blue-bg;
      background: transparent;
    }
  }

  //  &[type="tel"] {
  //    padding-left: 40px;
  //    position: relative;
  //
  //    &::before {
  //      content: "+7 (";
  //      display: block;
  //      position: absolute;
  //      left: 0;
  //      color: $light-bg;
  //    }
  //  }
}

.dn-modal__input-box input.error {
  border: 1px solid #ff5a4b !important;
}

.dn-modal__input-box input.error ~ label.error {
  display: block;
  margin-left: 25px;
  @include heliosc-bold;
  font-size: 11px;
  line-height: 15px;
  color: $light-bg;
  text-transform: uppercase;
  text-align: left;
  position: unset;
  margin-top: 10px;

  @include desktop {
    position: absolute;
    left: 0;
    top: 60px;
  }
}

.dn-modal__label {
  @include heliosc-regular;
  font-size: 16px;
  line-height: 25px;
  color: $light-bg;
  position: absolute;
  top: 0;
  left: 25px;
  padding-top: 17px;
  transition: top 0.6s;
  pointer-events: none;
}

.dn-modal__input-box input:focus ~ label,
.dn-modal__input-box input:valid ~ label {
  top: -14px;
  right: 4px;
  font-size: 8px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: right;
}

.dn-modal__input-box .dn-modal__phone:focus ~ span,
.dn-modal__phone--not-empty ~ span {
  top: -14px;
  right: 4px;
  font-size: 8px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: right;
}

.dn-modal__input-box .dn-modal__phone {
  color: transparent;
}

.dn-modal__input-box .dn-modal__phone:focus,
.dn-modal__input-box .dn-modal__phone--not-empty {
  color: $white-text;
}

.dn-modal__input-box input {
  outline: none;
}

.dn-modal__input-box input:-webkit-autofill {
  @include heliosc-bold;
  border: 1px solid transparent;
  -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
  -webkit-text-fill-color: $main-bg !important; /* цвет текста */
}

.dn-modal__input-box input:-webkit-autofill ~ label {
  @include heliosc-bold;
  color: $main-bg;
}

.dn-modal__ofice {
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  color: $light-bg;
  background-color: transparent;
}

.dn-modal__select-wrapper {
  width: 100%;

  @include desktop {
    margin-right: 30px;
    width: 255px;

    &--to {
      margin-right: 0;
    }
  }
}

.dn-modal__message-close {
  align-self: center;

  @include heliosc-regular;
  color: $blue-text;
  font-size: 16px;
  line-height: 25px;

  border: none;
  outline: 1px solid transparent;
  background-color: transparent;
  background-image: linear-gradient(rgba($blue-text, 0.25), rgba($blue-text, 0.25));
  background-position: 0 1.31em;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  cursor: pointer;

  &:hover {
    color: $orange-bg;
    background-image: linear-gradient(rgba($orange-bg, 0.25), rgba($orange-bg, 0.25));
  }
}


/*  ***************** Тест-драйв *********************** */

.dn-modal--drive {
  height: 675px;
  min-height: 675px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include desktop {
    margin: 0 auto;
    width: 1110px;
    height: 445px;
    min-height: 445px;
    background-image: none;
    border-bottom: 0;
  }

  .dn-modal__wrapper {
    padding-top: 17px;
    padding-bottom: 10px;

    @include desktop {
      padding-top: 8px;
      padding-left: 80px;
      padding-right: 80px;
    }

    &--message {
      margin: auto 0;
      padding-top: 53px;
      padding-bottom: 42px;
      padding-left: 20px;
      padding-right: 20px;
      flex-grow: 1;
      align-self: center;
      min-height: 100%;

      @include desktop {
        padding: 0;
        padding-top: 4px;
      }

      .dn-modal__title {
        margin-bottom: 21px;
      }

      .dn-modal__subtitle {
        margin-bottom: 32px;
      }
    }
  }
}

.dn-modal__title--drive {
  margin-top: 0;
  letter-spacing: 0.4px;
  margin-bottom: 34px;


  @include desktop {
    margin-top: 0;
    line-height: 55px;
    font-size: 48px;
    letter-spacing: 0.5px;
    margin-bottom: 22px;
  }
}

.dn-modal--drive {

  p {
    margin-top: 44px;
    font-size: 16px;
    line-height: 25px;
  }

  .dn-modal__subtitle {
    margin-top: 0;
    margin-bottom: 42px;
    font-size: 16px;
    line-height: 25px;
  }

  @include desktop {

    .dn-modal__subtitle {
      margin-top: 0;
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 35px;
    }

    p {
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      line-height: 26px;
      margin-top: 21px;
    }
  }
}

.dn-modal--drive input[type="text"],
.dn-modal--drive input[type="email"],
.dn-modal--drive input[type="tel"] {

  @include desktop {
    max-width: 215px;
  }
}

.btn__rectangle--drive {
  margin-top: 0;
  height: 60px;
}

/*  ***************** Запись на ТО *********************** */

.dn-modal--maintenance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  height: 755px;
  min-height: 755px;

  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #000000 100%),
  url('../img/bg-maintenance@1x.jpg');
  @include retina(2) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #000000 100%),
    url('../img/bg-maintenance@2x.jpg');
  }
  @include retina(3) {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #000000 100%),
    url('../img/bg-maintenance@3x.jpg');
  }

  @include desktop {
    margin: 0 auto;
    height: 640px;
    min-height: 640px;
    max-width: 1110px;
    padding-left: 0;
    padding-right: 0;
    background-image: none;
  }

  .dn-modal__wrapper {
    padding-top: 20px;
    padding-bottom: 10px;

    @include desktop {
      padding-top: 38px;
    }

    &--message {
      padding-top: 53px;
      padding-bottom: 42px;
      padding-left: 20px;
      padding-right: 20px;
      flex-grow: 1;
      align-self: center;
      min-height: 100%;

      @include desktop {
        padding: 0;
        padding-top: 5px;
      }

      .dn-modal__title {
        margin-bottom: 22px;
      }

      .dn-modal__subtitle {
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 25px;

        @include desktop {
          font-size: 20px;
          line-height: 35px;
        }
      }
    }
  }

}

.dn-modal__title--maintenance {
  margin-top: 0;
  margin-bottom: 31px;
  letter-spacing: 0.4px;
  color: $light-bg;


  @include desktop {
    margin-top: 0;
    line-height: 80px;
    font-size: 80px;
    margin-bottom: 22px;
    height: auto;
  }
}

.dn-modal--maintenance .dn-modal__subtitle {
  margin-top: 0;
  margin-bottom: 42px;
  line-height: 27px;

  @include desktop {
    line-height: 35px;
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
  }
}

.dn-modal--maintenance .dn-modal__wrap-inner {
  @include desktop {
    margin-bottom: 12px;
  }
}

.dn-modal--maintenance .dn-modal__wrap-inner--revers {
  .dn-modal__text {
    margin-top: 0;
    line-height: 26px;

    @include desktop {
      margin-top: 14px;
      letter-spacing: 0.1px;
    }
  }

  .btn__rectangle--maintenance {
    margin-top: -2px;
    margin-bottom: 42px;
  }
}


/*  ***************** окна на индексной странице *********************** */

.dn-modal--index {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .dn-modal__wrapper {
    margin: 25px auto 0;

    @include desktop {
      margin-top: 0;
    }

    &--message {
      margin: 0;
      padding-left: 20px;
      padding-right: 20px;

      .dn-modal__title {
        margin-bottom: 21px;
      }

      .dn-modal__subtitle {
        margin-bottom: 32px;
      }
    }
  }

  .dn-modal__text {
    @include desktop {
      line-height: 25px;
      margin-bottom: 20px;
    }
  }
}

/*  ***************** окна всплывающие на других страницах *********************** */

.dn-modal--popup {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;

  .dn-modal__wrapper {
    margin: 50px auto 0;

    &--main {
      margin: 45px auto 0;
    }

    @include desktop {
      margin-top: 243px;
    //  padding-bottom: 200px;
    }

    &--message {
      margin: 0;
      padding-left: 20px;
      padding-right: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.dn-modal--show {
  display: none;
  z-index: 202;
}


/* ********************** Поправка для обратного звонка *****/

.dn-modal--call .dn-modal__wrapper {
  max-width: 825px;
}

/**************** dealer model ***************/

.test-drive--dealer-model .dn-modal__title--desktop {
  margin-bottom: 0;
}

/*************** -- mask -- *******************/

.dn-modal__phone--hidden {
  display: none;
}

.dn-modal__input-box--tel {
  position: relative;
}

.dn-modal__phone--visible {
  position: relative;
}

.dn-modal__input-box .dn-modal__phone--mask {
  position: absolute;
  color: rgba($white-text, 0.25);
}

/*************** -- fix ie11-input -- *******************/
input::-ms-clear {
  display: none;
}
