.equipment {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-bottom: 40px;

  z-index: 1001;

  background: $light-bg;

  & .ps__thumb-y {
    opacity: 0;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 15;
    pointer-events: none;

    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1) 80%);
    background-position: center bottom;
  }
}

.equipment--hide {
  display: none;
}

.equipment__close {
  z-index: 13;
  cursor: pointer;
  width: 22px;
  height: 22px;
  display: block;
  background: 0 0;
  margin: 0 auto 17px;
  outline: none;

  @include desktop {
    position: fixed;
    top: 30px;
    left: auto;
    right: 30px;
    margin: 0;
  }
}

.equipment-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-bottom: 50px;
  z-index: 12;

  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  @include desktop {
    top: 0;
    padding: 0 165px;
    padding-top: 70px;
    padding-bottom: 70px;

    ::-webkit-scrollbar {
      display: none;
    }
  }
}

.equipment__function {
  @include heliosc-regular;
  max-width: 1110px;
  margin: 0 auto;

  color: $main-text;
  line-height: 25px;
  font-size: 18px;

  @include desktop {
    margin-bottom: 50px;
  }
}

.equipment__title {
  display: none;

  @include desktop {
    @include volvo_h2;
    display: block;
    margin-bottom: 37px;

    color: $dark-blue-text;
    text-align: center;
  }
}

.equipment__subtitle {
  @include heliosc-regular;
  font-weight: 700;
  padding: 23px 0;

  font-size: 20px;
  line-height: 30px;
  color: $main-text;

  @include desktop {
    @include volvo_h2;
    padding: 20px 0;
    padding-bottom: 14px;

    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0.5px;
  }
}

.equipment__function-wrapper {
  @include desktop {
    display: flex;
    flex-direction: column;
    min-height: 70px;
    flex-wrap: wrap;
  }
}

.equipment__function-item {
  &:first-of-type {
    padding-top: 20px;
    border-top: 1px solid #d4d1bd;

    @include desktop {
      margin-right: 80px;
      padding-top: 22px;
    }
  }

  & span {
    display: block;
    width: 230px;

    @include desktop {
      width: 410px;
    }
  }

  & .version__item-more {
    margin-top: 3px;
  }

  margin-bottom: 15px;

  @include desktop {
    width: 515px;
    padding: 22px 0;
    margin-bottom: 0;
    border-top: 1px solid #d4d1bd;
  }
}

.equipment__function-item-title {
  // *************** Временно скрыто по требованию заказчика *********** //
  //cursor: pointer;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

// ********* 2й попап ************** //

.equipment__popup-item {
  display: none;
  position: fixed;
  background-color: $light-bg;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 15;
}

.equipment__popup-item-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  padding-top: 20px;

  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  background-color: $light-bg;

  @include desktop {
    padding: 0 165px;
    padding-top: 70px;

    ::-webkit-scrollbar {
      display: none;
    }
  }
}

.equipment__link {
  @include heliosc-regular;
  position: absolute;
  top: 23px;
  left: 20px;

  line-height: 25px;
  font-size: 16px;
  text-align: center;
  color: #131318;
  text-decoration: none;

  background-image: linear-gradient($separator, $separator);
  background-position: 0 1.31em;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  &:hover,
  &:focus {
    color: $blue-text;
    background-image: linear-gradient(rgba($blue-text, 0.25), rgba($blue-text, 0.25));
  }

  @include desktop {
    position: static;
    order: 1;
    margin-left: auto;
    margin-top: auto;
    padding-bottom: 20px;
  }
}

.equipment__popup-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  margin: 0 auto;

  //************
  & .equipment__text-wrapper {
    order: 1;

    @include desktop {
      display: flex;
      order: 0;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & .equipment__function-image {
      order: 2;
    }
  }
}

.equipment__subtitle--popup {
  padding-bottom: 17px;
  padding-top: 20px;

  line-height: 30px;
  font-size: 20px;
  font-weight: 400;

  @include desktop {
    @include volvo_h2;
    padding-top: 27px;
    padding-bottom: 20px;
    width: 70%;

    line-height: 40px;
    font-size: 40px;
    letter-spacing: 0.5px;

    & span {
      width: 500px;
    }
  }
}

.equipment__popup-text {
  padding-bottom: 80px;
  font-size: 16px;

  @include desktop {
    order: 1;
    padding-top: 20px;
    margin-right: 80px;
    width: calc(100%  / 2 - 40px);
    max-width: 515px;

    border-top: 1px solid #d4d1bd;
  }
}

.equipment__function-image {
  & img {
    width: 100%;
  }

  @include desktop {
    width: calc(100%  / 2 - 40px);
    max-width: 515px;
  }
}

.equipment__popup-close {
  margin-bottom: 19px;
  outline: none;

  @include desktop {
    z-index: 13;
    top: 30px;
    left: auto;
    right: 30px;
  }
}

// *************** Временно скрыто по требованию заказчика *********** //
.equipment__function--more {
  display: none;
}
