.filter {
  width: 100%;
  margin: 40px 0 50px;

  @include desktop {
    margin: 65px 0 80px;
  };
}

.filter__list {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .flickity-viewport {
    width: 100%;
  }

  &:after {
    content: 'flickity';
    display: none; /* hide :after */
  }

  @media screen and ( min-width: 768px ) {
    /* disable Flickity for large devices */
    &:after {
      content: '';
    }
  }

  @include desktop {
    max-width: 1110px;
  }

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
  }
}

.filter__checkbox-wrap {
  height: 40px;
  margin-right: 10px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.filter__list input[type="checkbox"] + .filter__item {
  padding: 12px 15px;
  position: relative;

  @include heliosc-bold;
  font-size: 14px;
  line-height: 20px;
  color: $main-bg;
  background-color: rgba(28, 50, 87, 0.1);
  text-transform: uppercase;
  border: 0;
  cursor: pointer;

  &:after {
    content: attr(data-number);
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 11px;
    line-height: 15px;
    color: $orange-text;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 15px;

    &:hover {
      background-color: rgba(28, 50, 87, 0.15);
    }
  }
}

.filter__list input[type="checkbox"]:checked + .filter__item {
  color: $light-bg;
  background-color: $main-bg;

  &:after {
    color:  $light-bg;
  }

  &:hover {
    background-color: $main-bg;
  }
}

.filter__list input[type="checkbox"]:focus + .filter__item {
  outline: 1px solid $blue-bg;
}

.filter__list input[type="checkbox"]:disabled + .filter__item {
  color: rgba(28, 50, 87, 0.15);

  &:hover {
    background-color: rgba(28, 50, 87, 0.1);
  }
}
