.dn-footer {
  display: flex;
  width: 100%;
  // min-height: 875px;
  padding: 0 20px;
  background: #1c3257;
  @include desktop {
    padding: 0;
    width: 100%;
    min-height: 770px;
  }

  &--border-top {
    border-top: 1px solid #3a75d6;

    @include desktop {
      border-top: none;
    }
  }
}

.dn-footer__item-wrapper {
  width: 100%;
  @include desktop {
    width: 1100px;
    min-height: 770px;
    margin: 0 auto;
  }
}

.dn-footer__caption {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 13px;
  @include heliosc-regular;
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;

  @include desktop {
    font-size: 20px;
    line-height: 35px;
    margin-top: 65px;
    margin-bottom: 20px;
  }
}

.dn-footer__list {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  margin: 0 auto;
  max-width: 340px;
  list-style: none;
  margin-bottom: 37px;

  @include desktop {
    margin-bottom: 62px;
  }
}

.dn-footer__copyright {
  display: block;
  text-align: center;
  @include heliosc-regular;
  color: #ffffff;
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 36px;

  @include desktop {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 30px;
  }
}

.dn-footer p {
  @include heliosc-regular;
  color: #ffffff;
  line-height: 25px;
  font-size: 16px;
  text-align: center;
  max-width: 920px;
  margin: 0 auto;
  margin-bottom: 35px;

  @include desktop {
    font-size: 16px;
    line-height: 26px;
  }
}

.dn-footer__links {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 607px;
  margin-bottom: 43px;


  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 56px;
  }
}

.dn-footer__confidentiality {
  display: block;

  @include heliosc-regular;
  line-height: 25px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 16px;
  transition: all 0.4s;

  &:hover {
    color: #d1761a;
    //text-decoration-color: rgba(209, 118, 26, 0.25);

    & span {
      background-image: linear-gradient(rgba(209, 118, 26, 0.25), rgba(209, 118, 26, 0.25));
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.dn-footer__confidentiality span,
.dn-footer__jurist span {
  background-image: linear-gradient($footer-text-border, $footer-text-border);
  background-position: 0 1.11em;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  &:hover,
  &:focus {
    background-image: linear-gradient(rgba(209, 118, 26, 0.25), rgba(209, 118, 26, 0.25));
  }
}

.dn-footer__jurist {
  @include heliosc-regular;
  display: block;

  line-height: 25px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.4s;

  @include desktop {
    margin-bottom: 16px;
  }

  &:hover {
    color: #d1761a;

    & span {
      background-image: linear-gradient(rgba(209, 118, 26, 0.25), rgba(209, 118, 26, 0.25));
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.dn-footer__list-item {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dn-footer__svg-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.15);
  width: 50px;
  height: 50px;
  transition: width 0.5s, height 0.5s;

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.25);
  }

  &:active {
    width: 40px;
    height: 40px;
  }
}

.dn-footer__button {
  @include heliosc-bold;
  display: block;
  width: 159px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 50px;

  background: $footer-btn;
  border: 1px solid #ffffff;

  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;

  transition: all 0.4s;
  outline: none;

  &:hover {
    color: #1c3257;
    background: #ffffff;
  }

  &:active {
    color: #3a75d6;
    background: #ffffff;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
  }

  @include desktop {
    margin-bottom: 80px;
  }
}

.dn-footer__volvo {
  display: block;
  text-align: center;
  margin-bottom: 45px;
}

.dn-footer__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dn-footer__phone {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.4s;

  &:hover {
    opacity: 0.7;
  }
}
