.general-btn {
  display: block;
  padding: 5px 0;
  cursor: pointer;

  @include heliosc-bold;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;

  @include desktop {
    height: 60px;
    padding: 20px 50px 20px;

    cursor: pointer;
    transition: all 0.4s;
    outline: none;
  }
}

.general-btn--white {
  color: $dark-blue-text;
  padding: 19px 50px;

  border: 1px solid $dark-blue-text;

  &:hover,
  &:focus {
    color: $white-text;
    background: $main-bg;
  }

  &:active {
    background: $main-bg,
      rgba($black-bg, 0.15);
  }
}

.general-btn--black {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  color: $white-text;

  & span {
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    color: $orange-text;
  }

  &:hover svg {
    fill: rgba(255, 255, 255, 0.1);
  }

  @include desktop {
    color: #ffffff;

    background: $btn-transparent-bg;
    border: 1px solid #ffffff;

    & svg {
      display: none;
    }

    & span {
      margin-right: 0;
    }

    &:hover {
      color: #1c3257;
      background: #ffffff;
    }

    &:active {
      color: #3a75d6;
      background: #ffffff;
    }

    &:disabled {
      color: rgba(255, 255, 255, 0.15);
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.15);
    }
  }
}
