.dn-header {
  position: relative;
}

.dn-header__top {
  min-height: 70px;
  width: 100%;
  background: #000000;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  @include desktop {
    flex-direction: column-reverse;
    min-height: 145px;
    padding: 0;
  }
}

.dn-header__logos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  max-width: 1110px;
  margin: 0 auto;

  @include desktop {
    align-items: flex-start;
    justify-content: space-between;
  }
}

.dn-header__head-top {
  display: flex;
  align-items: center;

  @include desktop {
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.dn-header__centers {
  max-width: 1110px;
  margin: 0 auto;

  @include desktop {
    width: 100%;
    height: 55px;
  }
}

.dn-header__centers::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
}

.dn-header__login {
  display: flex;
  align-items: center;
  height: 70px;
  text-decoration: none;


  &:hover .dn-header__login-text {
    color: $header-white-on-black-hover;
    background-image: linear-gradient($header-white-on-black-underline-hover, $header-white-on-black-underline-hover);
    //text-decoration-color: $header-white-on-black-underline-hover;
  }

  &:active {
    opacity: 0.7;
  }

  @include desktop {
    height: auto;
  }
}

.dn-header__login-icon {
  width: 24px;
  height: 24px;
  background-image: url("../icons/login@3x.png");
  background-size: cover;
}

.dn-header__login-text {
  @include heliosc-regular;
  width: 61px;
  margin-left: 10px;
  color: $header-white-on-black;
  line-height: 20px;
  font-size: 16px;
  text-decoration: none;

  background-image: linear-gradient($header-white-on-black-underline, $header-white-on-black-underline), linear-gradient($header-white-on-black-underline, $header-white-on-black-underline);
  background-position: 0 1.2em, bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  transition: all 0.4s;

  &:hover {
    color: $header-white-on-black-hover;
    background-image: linear-gradient($header-white-on-black-underline-hover, $header-white-on-black-underline-hover);
  }

  &:active {
    opacity: 0.7;
  }

  @include desktop {
    width: 125px;
    background-image: linear-gradient($header-white-on-black-underline, $header-white-on-black-underline);
    background-position: 0 1.1em;
  }
}

.dn-header__logo-swed {
  width: 76px;
  height: 30px;
  margin-top: 4px;

  background-size: cover;
  background-image: url("../icons/swed-mobile-header@3x.png");

  @include desktop {
    width: 107px;
    height: 42px;
  }
}

.dn-header__logo-volvo {
  width: 40px;
  height: 40px;
  margin: 0 auto;

  background-size: cover;
  background-image: url("../icons/volvo-header@3x.png");

  @include desktop {
    width: 50px;
    height: 50px;
    margin: 0;
    margin-left: 93px;
  }
}

.dn-header__phone {
  @include heliosc-regular;
  text-decoration: none;
  line-height: 22px;
  font-size: 20px;
  color: #ffffff;
  transition: all 0.4s;
  margin-left: 6px;
  margin-bottom: 5px;

  &:hover {
    color: $header-white-on-black-hover;
  }

  &:active {
    opacity: 0.7;
  }
}

.dn-header__calltext {
  @include heliosc-regular;
  color: #ffffff;
  line-height: 25px;
  font-size: 16px;
  transition: all 0.4s;
  margin-right: 3px;

  text-decoration: none;
  background-image: linear-gradient($header-white-on-black-underline, $header-white-on-black-underline);
  background-position: 0 1.3em;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  &:hover {
    color: $header-white-on-black-hover;
    background-image: linear-gradient($header-white-on-black-underline-hover, $header-white-on-black-underline-hover);
  }

  &:active {
    opacity: 0.7;
  }
}

.dn-header__goto {
  display: none;
  text-decoration: none;

  &:hover .dn-header__locate-link {
    color: $header-white-on-black-hover;
    //text-decoration-color: $header-white-on-black-underline-hover;
    background-image: linear-gradient($header-white-on-black-underline-hover, $header-white-on-black-underline-hover);
  }

  &:active {
    opacity: 0.7;
  }

  @include desktop {
    display: flex;
  }
}

.dn-header__top-link {
  display: none;
  text-decoration: none;
  text-transform: uppercase;
  color: $header-orange-on-black;
  @include volvobroad-pro;
  line-height: 22px;
  font-size: 22px;
  letter-spacing: 0.5px;
  transition: all 0.4s;

  &--first {
    margin-left: 75px;
  }

  &:hover {
    color: #ff9123;
  }

  @include desktop {
    display: block;
  }
}

.dn-header__locate-link {
  @include heliosc-regular;
  color: $header-white-on-black;

  text-decoration: none;
  line-height: 25px;
  font-size: 16px;
  margin-left: 9px;
  letter-spacing: 0.2px;

  background-image: linear-gradient($header-white-on-black-underline, $header-white-on-black-underline);
  background-position: 0 1.3em;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  transition: all 0.4s;

  &:hover {
    color: $header-white-on-black-hover;
    background-image: linear-gradient($header-white-on-black-underline-hover, $header-white-on-black-underline-hover);
  }

  &:active {
    opacity: 0.7;
  }
}

.dn-header__callback-wrapper {
  display: none;

  @include desktop {
    display: flex;
  }
}

.dn-header__callback {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
// *************************
.dn-header__nav-color-wrapper {
  background: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);

  @include desktop {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.05);
    position: relative;
  }
}

.dn-header__nav {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 20px;
  height: 55px;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;

  @include desktop {
    padding: 0;
    justify-content: space-between;
    padding-top: 2px;
  }
}

.dn-header__nav-menu {
  @include volvobroad-pro;
  line-height: 22px;
  font-size: 22px;
  letter-spacing: 0.5px;
  color: #1c3257;

  @include desktop {
    display: none;
  }
}

.dn-header__nav-burger {
  margin-right: 9px;
  margin-bottom: 2px;
  outline: none;

  @include desktop {
    display: none;
  }
}

.dn-header__nav-burger--desktop {
  display: none;

  @include desktop {
    display: block;
  }
}

.dn-header__nav-list {
  display: none;
  position: absolute;
  z-index: 1;

  list-style: none;
  padding: 20px;
  padding-top: 17px;
  padding-bottom: 3px;
  background: #ffffff;

  &--model {
    top: 55px;
    left: 295px;
  }

  &--service {
    top: 55px;
    left: 820px;

    &::after {
      z-index: 1;
      content: "";
      position: absolute;
      width: 20px;
      height: 1px;
      background-color: #d4d1bd;
      top: 0;
      left: 20px;
    }
  }

  &--burger {
    top: 55px;
    left: -20px;
    // display: block;

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 1px;
      background-color: #d4d1bd;
      top: 0;
      left: 20px;
    }
  }
}

.dn-header__nav-drop-menu-burger {
  cursor: pointer;

  @include desktop {
    margin-bottom: 2px;
  }
}

.dn-header__nav-drop-menu-model {
  cursor: pointer;
}

.dn-header__nav-list-link {
  display: block;
  text-decoration: none;
  @include volvobroad-pro;
  line-height: 25px;
  font-size: 22px;
  letter-spacing: 0.5px;
  color: $header-darkblue-on-white;
  margin-bottom: 10px;
  transition: all 0.4s;

  &:hover {
    color: $header-darkblue-on-white-hover;
  }
}

.dn-header__nav-arrow {
  margin-left: 10px;
  transition: all 0.3s;

  &--rotate {
    transform: rotate(180deg);
  }
}

.dn-header__nav-phone {
  color: #131318;
  text-decoration: none;

  //text-decoration: underline;
  //text-decoration-color: rgba(19, 19, 24, 0.15);

  background-image: linear-gradient(rgba(19, 19, 24, 0.15), rgba(19, 19, 24, 0.15));
  background-position: 0 1.3em;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  @include heliosc-regular;
  line-height: 25px;
  font-size: 16px;
  margin-left: auto;

  &:hover {
    opacity: 0.7;
  }

  @include desktop {
    display: none;
  }
}

.dn-header__nav-drop-menu {
  cursor: pointer;
}

.dn-header__nav-link {
  @include volvobroad-pro;
  display: none;
  align-items: center;

  line-height: 22px;
  font-size: 22px;
  letter-spacing: 0.5px;
  color: $header-darkblue-on-white;
  text-decoration: none;
  transition: all 0.4s;

  &:hover {
    color: $header-darkblue-on-white-hover;
  }

  &--blue {
    color: $header-blue-on-white;

    &:hover {
      color: $header-blue-on-white-hover;
    }
  }

  &--red {
    color: $red-menu-item;

    &:hover {
      color: #dc4137;
    }
  }


  &--drop-down {
    padding: 16px 0;
  }

  @include desktop {
    display: flex;
  }
}

.dn-header__popup {
  position: fixed;
  z-index: 100;

  top: 0;
  left: 0;
  //overflow: hidden;
  //background: #000000;
  border-right: 1px solid #3a75d6;
  transition: all 0.6s;
  height: 110%;
  width: 100%;
  max-width: 260px;
  //background: rgba(0,0,0,.75);
  background: transparent;

  transform: translateX(-120%);

  &--show {
    transform: translateX(0);
  }
}

//.dn-header__popup-bg-black {
//  display: none;
//  top: 0;
//  left: 260px;
//  position: absolute;
//  z-index: -1;
//  width: 700%;
//  height: 200%;
//  background: rgba(0, 0, 0, 0.75);
//
//  &--show {
//    display: block;
//  }
//}

.dn-header__popup-content {
  width: 100%;
  height: 100%;
  max-width: 260px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 45px;
  background-color: rgb(0, 0, 0);
}

.dn-header__popup-close {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: -40px;
  display: block;

  &:hover path {
    stroke: $blue-bg;
  }
}

.dn-header__popup-link-container {
  position: relative;
  list-style: none;
  min-height: 170px;
  padding-left: 20px;
  padding-top: 20px;

  &--border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
}

.dn-header__popup-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  @include heliosc-bold;
  line-height: 15px;
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 15px;

  &::before {
    content: "";
    box-sizing: border-box;
    display: block;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    border: 1px solid #3a75d6;
    border-radius: 50%;
    // background-image: url("../img/ellipse.svg");
    // background-repeat: no-repeat;
    // background-position: center;
  }
}

.dn-header__popup-division-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.dn-header__popup-division {
  display: flex;
  align-items: center;
  text-decoration: none;
  @include volvobroad-pro;
  line-height: 22px;
  font-size: 22px;
  letter-spacing: 0.5px;
  color: $header-white-on-black;
  margin-bottom: 14px;

  /* &:last-of-type {
    margin-bottom: 0;
  } */

  &:hover {
    color: $header-white-on-black-hover;
  }

  &--red {
    color: $red-menu-item;

    &:hover {
      color: $red-menu-item;
    }
  }
}

.dn-header__popup-list {
  display: none;
  list-style: none;
  margin-bottom: 21px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
  }

  &:first-of-type {
    margin-top: 0;
  }
}

.dn-header__popup-list-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  @include heliosc-bold;
  line-height: 15px;
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 15px;

  &::before {
    content: "";
    box-sizing: border-box;
    display: block;
    width: 6px;
    height: 6px;
    margin-right: 10px;
    border: 1px solid #3a75d6;
    border-radius: 50%;
    // background-image: url("../img/ellipse.svg");
    // background-repeat: no-repeat;
    // background-position: center;
  }
}

.dn-header__popup-arrow {
  margin-left: 10px;
  transition: all 0.3s;

  &--rotate {
    transform: rotate(180deg);
  }
}

.dn-header__popup-division-cover {
  display: flex;
}

.dn-header__popup-model {
  display: flex;
  align-items: center;
  text-decoration: none;
  @include volvobroad-pro;
  line-height: 22px;
  font-size: 22px;
  letter-spacing: 0.5px;
  color: $header-blue-on-white;
  margin-bottom: 14px;

  &:hover {
    color: $header-blue-on-white-hover;
  }

  &:not(:first-child) {
    margin-left: 20px;
  }
}

.dn-header__nav--fixed {
  position: fixed;
  width: 100%;
  z-index: 11;
  top: 0;
}

.dn-header__top--hide {
  display: none;
}
