.label {
  display: block;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  padding: 8px 15px;
  color: $light-bg;
  @include heliosc-bold;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transform: skewX(-45deg);
    z-index: -1;
  }

  &--seria::before {
    background-color: $blue-bg;
  }

  &--price::before {
    background-color: $orange-bg;
  }
}
