.maintenance {
  width: 100%;
  min-height: 755px;

  @include desktop {
    min-height: 640px;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #000000 100%),
      url('../img/bg-maintenance-desktop@1x.jpg');
    @include retina(2) {
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #000000 100%),
        url('../img/bg-maintenance-desktop@2x.jpg');
    }
    @include retina(3) {
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #000000 100%),
        url('../img/bg-maintenance-desktop@3x.jpg');
    }
  }
}
