.map {
  @include heliosc-regular;
  padding: 10px;
}

.map__picture {
  width: 100%;
  height: 170px;

  margin-bottom: 20px;

  @include desktop {
    height: 215px;
  }
}

.map__picture--primorski {
  background: url("../img/bg-map-primorski.jpg");
}

.map__picture--energetic {
  background: url("../img/bg-map-energetic.jpg");
}

.map__picture--zhukova {
  background: url("../img/bg-map-zhukova.jpg");
}

.map-title {
  @include heliosc-regular;
  display: block;
  margin-bottom: 14px;

  color: $main-bg;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $blue-text;
  }
}

.map-title h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  @include desktop {
    font-size: 26px;
  }
}


.map__address {
  margin: 0 12px;

  @include heliosc-regular;
  font-size: 16px;
  line-height: 25px;
  color: $main-text;
  text-decoration: none;

  background-image: linear-gradient($separator, $separator);
  background-position: 0 1.11em;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  &:hover,
  &:focus {
    color: $blue-text;
    background-image: linear-gradient(rgba($blue-text, 0.25), rgba($blue-text, 0.25));
  }

  @include desktop {
    font-size: 18px;
  }
}

.map__separator {
  display: block;
  margin: 22px auto;
  width: 30px;
  height: 1px;
  background-color: $separator;
}

.map__tel,
.map__time {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;

  font-size: 16px;
  line-height: 25px;

  color: $add-text;

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
  }

  @include desktop {
    padding: 0;
    font-size: 18px;
    line-height: 25px;
  }
}

.map__tel {
  text-decoration: none;

  margin-bottom: 15px;

  &:hover,
  &:focus {
    color: $blue-text;
  }

  &::before {
    margin-right: 10px;

    background-image: url("../icons/icon-tel.svg");
    background-repeat: no-repeat;
  }
}

.map__time {
  @include desktop {
    justify-content: space-between;
  }

  &::before {
    margin-right: 10px;

    background-image: url("../icons/icon-time.svg");
    background-repeat: no-repeat;
  }
}

.map__time--desktop {
  font-size: 0;

  @include desktop {
    font-size: 18px;
  }
}

.map__time--mobile {
  font-size: 16px;

  @include desktop {
    font-size: 0;
  }
}


.map__text-wrapper {
  @include desktop {
    margin: 0 26px;
  }
}
