.message {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 315px;
  background-color: $main-bg;
  z-index: 20;

  @include desktop {
    width: 1110px;
    height: 445px;
    top: 200px;
    left: 50%;
    transform: translateX(-50.8%);
  }
}

.message--close {
  display: none;
}

.message__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message__title {
  margin-bottom: 35px;
  padding: 0 50px;
  text-align: center;
  color: $blue-text;
  @include volvobroad-pro;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.5;

  @include desktop {
    margin-bottom: 22px;
    font-size: 48px;
    line-height: 55px;
  }
}

.message__text {
  margin-bottom: 35px;
  padding: 0 20px;
  text-align: center;

  @include heliosc-regular;
  color: $light-bg;
  font-size: 16px;
  line-height: 25px;

  @include desktop {
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 35px;
  }
}

.message__close {
  @include heliosc-regular;
  color: $blue-text;
  font-size: 16px;
  line-height: 25px;

  border: none;
  outline: 1px solid transparent;
  background-color: transparent;
  background-image: linear-gradient(rgba($blue-text, 0.25), rgba($blue-text, 0.25));
  background-position: 0 1.31em;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  cursor: pointer;

  &:hover {
    color: $orange-bg;
    background-image: linear-gradient(rgba($orange-bg, 0.25), rgba($orange-bg, 0.25));
  }
}
