.new-cars {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  padding-top: 50px;
  background: #f5f5f5;

  @include desktop {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}

.new-cars__title {
  margin: 0 auto;
  padding: 0 20px;
  color: $main-bg;
  text-align: center;

  @include volvobroad-pro;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.5px;

  @include desktop {
    font-size: 48px;
    line-height: 55px;
  };
}
