.new-auto {
  width: 100%;
  background-color: $black-bg;
  background-size: 100%;
  background-repeat: no-repeat;

  //@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  //  background-image: url("../img/bg-new-car-mobile@2x.jpg");
  //}

  @include desktop {
    padding-bottom: 160px;
    background-size: cover;
    //background-image: url("../img/bg-new-car-desktop@1x.jpg");
    background-position: center center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-new-car-desktop@2x.jpg");
    }
  }

  &--xc60 {
    background-image: url("../img/bg-mobile-XC60-final-offer@1x.jpg");

    @include retina(2) {
      background-image: url("../img/bg-mobile-XC60-final-offer@2x.jpg");
    }

    @include retina(3) {
      background-image: url("../img/bg-mobile-XC60-final-offer@3x.jpg");
    }

    @include desktop {
      background-image: url("../img/bg-desktop-XC60-final-offer@1x.jpg");

      @include retina(2) {
        background-image: url("../img/bg-desktop-XC60-final-offer@2x.jpg");
      }
    }
  }

  &--xc90 {
    background-image: url("../img/bg-mobile-XC90-final-offer@1x.jpg");

    @include retina(2) {
      background-image: url("../img/bg-mobile-XC90-final-offer@2x.jpg");
    }

    @include retina(3) {
      background-image: url("../img/bg-mobile-XC90-final-offer@3x.jpg");
    }

    @include desktop {
      background-image: url("../img/bg-desktop-XC90-final-offer@1x.jpg");

      @include retina(2) {
        background-image: url("../img/bg-desktop-XC90-final-offer@2x.jpg");
      }
    }
  }

  &--v90cc {
    background-image: url("../img/bg-mobile-V90CC-final-offer@1x.jpg");

    @include retina(2) {
      background-image: url("../img/bg-mobile-V90CC-final-offer@2x.jpg");
    }

    @include retina(3) {
      background-image: url("../img/bg-mobile-V90CC-final-offer@3x.jpg");
    }

    @include desktop {
      background-image: url("../img/bg-desktop-V90CC-final-offer@1x.jpg");

      @include retina(2) {
        background-image: url("../img/bg-desktop-V90CC-final-offer@2x.jpg");
      }
    }
  }
}

.new-auto__item {
  padding: 0 20px;
  padding-top: 205px;
  padding-bottom: 42px;

  @include desktop {
    padding-top: 152px;
    padding-bottom: 108px;
    width: 1110px;
    margin: 0 auto;
  }
}

.new-auto__title {
  margin-bottom: 12px;
  padding-right: 30px;

  @include volvo_h3;
  color: $light-bg;
  letter-spacing: 0;

  @include desktop {
    @include volvo_h1;
    margin-bottom: 22px;
    padding-right: 0;
    text-align: center;
  }
}

.new-auto__text {
  @include heliosc-regular;
  color: $light-bg;
  font-size: 18px;
  line-height: 25px;

  overflow: hidden;

  @include desktop {
    margin: 0 auto;
    margin-bottom: 36px;
    width: 900px;
    text-align: center;

    font-size: 26px;
    line-height: 35px;
  }
}
