.offers {
  position: relative;
  width: 100%;
  height: 485px;
  background: $black-bg;

  @include desktop {
    //height: 810px;
    height: calc(100vh - 200px);
  }
}

.offers__list {
  position: relative;
  height: 100%;

  & .offers__text {
    min-height: 0;
    height: auto;
  }
}

.offers__item {
  display: flex!important;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 20px;
  height: 100%;
  padding-bottom: 60px;

  background-color: $black-bg;
  background-image: url("../img/action-car-xc60-mobile@1x.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 0;

  @include retina(2) {
    background-image: url("../img/action-car-xc60-mobile@2x.jpg");
  }

  @include retina(3) {
    background-image: url("../img/action-car-xc60-mobile@3x.jpg");
  }

  @include desktop {
    padding: 0 165px;
    padding-bottom: 80px;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-image: url("../img/action-car-xc60-desktop@1x.jpg");

    @include retina(2) {
      background-image: url("../img/action-car-xc60-desktop@2x.jpg");
    }

    &--main {
      padding-bottom: 110px;
    }
  }

  &--v40cc {

    background-image: url("../img/action-car-v40cc-mobile@1x.jpg");

    @include retina(2) {
      background-image: url("../img/action-car-v40cc-mobile@2x.jpg");
    }

    @include retina(3) {
      background-image: url("../img/action-car-v40cc-mobile@3x.jpg");
    }

    @include desktop {
      background-image: url("../img/action-car-v40cc-desktop@1x.jpg");

      @include retina(2) {
        background-image: url("../img/action-car-v40cc-desktop@2x.jpg");
      }
    }
  }

  &--xc90 {
    background-image: url("../img/action-car-xc90-mobile@1x.jpg");

    @include retina(2) {
      background-image: url("../img/action-car-xc90-mobile@2x.jpg");
    }

    @include retina(3) {
      background-image: url("../img/action-car-xc90-mobile@3x.jpg");
    }

    @include desktop {
      background-image: url("../img/action-car-xc90-desktop@1x.jpg");

      @include retina(2) {
        background-image: url("../img/action-car-xc90-desktop@2x.jpg");
      }
    }
  }

  &--s90 {
    background-image: url("../img/action-car-s90-mobile@1x.jpg");

    @include retina(2) {
      background-image: url("../img/action-car-s90-mobile@2x.jpg");
    }

    @include retina(3) {
      background-image: url("../img/action-car-s90-mobile@3x.jpg");
    }

    @include desktop {
      background-image: url("../img/action-car-s90-desktop@1x.jpg");

      @include retina(2) {
        background-image: url("../img/action-car-s90-desktop@2x.jpg");
      }
    }
  }

  &--v90cc {

    background-image: url("../img/action-car-v90cc-mobile@1x.jpg");

    @include retina(2) {
      background-image: url("../img/action-car-v90cc-mobile@2x.jpg");
    }

    @include retina(3) {
      background-image: url("../img/action-car-v90cc-mobile@3x.jpg");
    }

    @include desktop {
      background-image: url("../img/action-car-v90cc-desktop@1x.jpg");

      @include retina(2) {
        background-image: url("../img/action-car-v90cc-desktop@2x.jpg");
      }
    }
  }

  &--xc60-is {

    background-image: url("../img/action-car-xc60-is-mobile@1x.jpg");

    @include retina(2) {
      background-image: url("../img/action-car-xc60-is-mobile@2x.jpg");
    }

    @include retina(3) {
      background-image: url("../img/action-car-v90cc-mobile@3x.jpg");
    }

    @include desktop {
      background-image: url("../img/action-car-xc60-is-desktop@1x.jpg");

      @include retina(2) {
        background-image: url("../img/action-car-xc60-is-desktop@2x.jpg");
      }
    }
  }

  // Акции на сервис
  &--1 {

    background-image: url("../img/action-service-1-mobile@1x.jpg");

    @include retina(2) {
      background-image: url("../img/action-service-1-mobile@2x.jpg");
    }

    @include retina(3) {
      background-image: url("../img/action-service-1-mobile@3x.jpg");
    }

    @include desktop {
      background-image: url("../img/action-service-1-desktop@1x.jpg");

      @include retina(2) {
        background-image: url("../img/action-service-1-desktop@2x.jpg");
      }
    }
  }

  &--2 {

    background-image: url("../img/action-service-2-mobile@1x.jpg");

    @include retina(2) {
      background-image: url("../img/action-service-2-mobile@2x.jpg");
    }

    @include retina(3) {
      background-image: url("../img/action-service-2-mobile@3x.jpg");
    }

    @include desktop {
      background-image: url("../img/action-service-2-desktop@1x.jpg");

      @include retina(2) {
        background-image: url("../img/action-service-2-desktop@2x.jpg");
      }
    }
  }

  &--3 {

    background-image: url("../img/action-service-3-mobile@1x-full.jpg");

    @include retina(2) {
      background-image: url("../img/action-service-3-mobile@2x-full.jpg");
    }

    @include retina(3) {
      background-image: url("../img/action-service-3-mobile@3x-full.jpg");
    }

    @include desktop {
      background-image: url("../img/action-service-3-desktop@1x.jpg");

      @include retina(2) {
        background-image: url("../img/action-service-3-desktop@2x.jpg");
      }
    }
  }

  &--4 {

    background-image: url("../img/action-service-4-mobile@1x.jpg");

    @include retina(2) {
      background-image: url("../img/action-service-4-mobile@2x.jpg");
    }

    @include retina(3) {
      background-image: url("../img/action-service-4-mobile@3x.jpg");
    }

    @include desktop {
      background-image: url("../img/action-service-4-desktop@1x.jpg");

      @include retina(2) {
        background-image: url("../img/action-service-4-desktop@2x.jpg");
      }
    }
  }

  &--5 {

    background-image: url("../img/action-service-5-mobile@1x.jpg");

    @include retina(2) {
      background-image: url("../img/action-service-5-mobile@2x.jpg");
    }

    @include retina(3) {
      background-image: url("../img/action-service-5-mobile@3x.jpg");
    }

    @include desktop {
      background-image: url("../img/action-service-5-desktop@1x.jpg");

      @include retina(2) {
        background-image: url("../img/action-service-5-desktop@2x.jpg");
      }
    }
  }

  &--6 {

    background-image: url("../img/action-service-6-mobile@1x-full.jpg");

    @include retina(2) {
      background-image: url("../img/action-service-6-mobile@2x-full.jpg");
    }

    @include retina(3) {
      background-image: url("../img/action-service-6-mobile@3x-full.jpg");
    }

    @include desktop {
      background-image: url("../img/action-service-6-desktop@1x.jpg");

      @include retina(2) {
        background-image: url("../img/action-service-6-desktop@2x.jpg");
      }
    }
  }
}

.offers__item-wrapper {
  @include desktop {
    width: 1110px;
    margin: 0 auto;
  }
}

.offers__title {
  margin-bottom: 12px;

  @include volvo_h3;
  color: $light-bg;
  letter-spacing: 0.5px;

  @include desktop {
    @include volvo_h1;
    margin-bottom: 22px;
  }
}

.offers__text {
  margin-bottom: 34px;
  padding-right: 0;

  @include heliosc-regular;
  color: $light-bg;
  font-size: 18px;
  line-height: 25px;

  overflow: hidden;

  @include desktop {
    margin-bottom: 40px;
    width: 100%;
    font-size: 26px;
    line-height: 35px;
  }
}

.offers__wrapper {
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.offers__price {
  color: $orange-bg;
}

.offers__text--mobile {
  @include desktop {
    display: none;
  }
}

.offers__text--desktop {
  display: none;

  @include desktop {
    display: block;
  }
}

.offers__link {
  @include desktop {
    margin-right: 30px;
  }
}

.offers__controls {
  display: none;

  @include desktop {
    display: block;
  }
}

.offers__dots {
  position: absolute;
  bottom: 10px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  list-style: none;

  padding: 0;
  margin-top: -30px;

  @include desktop {
    bottom: 20px;
    width: calc(100% - 60px);
    left: 30px;
    margin-top: 25px;
  }
}

.offers__dots li {
  flex-grow: 1;
  margin-right: 20px;

  @include desktop {
    margin-top: 36px;
    margin-right: 30px;
  }
}

.offers__dots li button {
  position: relative;
  width: 100%;
  height: 20px;
  overflow: hidden;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.offers__dots li button::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
}

.offers__dots li.slick-active button::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $light-bg;

  animation-name: offers-active;
  animation-duration: 5s;
}

@keyframes offers-active {
  0% {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}


.offers__dots li:last-child {
  margin-right: 0;
}

.offers__arrow svg {
  fill: none;
  stroke: #ffffff;
}

.offers__arrow {
  position: absolute;
  top: 45%;

  display: block;
  height: 42px;
  width: 22px;

  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;

  &:hover svg path {
    stroke: $blue-bg;
  }

  &:active svg path {
    stroke: #346ac1;
  }

  &:disabled svg path {
    stroke: rgba(255, 255, 255, 0.15);
  }
}

.offers__arrow--prev {
  left: 30px;
}

.offers__arrow--next {
  right: 30px;
}

//*************
.offers--single {
  min-height: 415px;

  .offers__item {

    &--xc60-is {

      background-image: url("../img/action-car-xc60-is-mobile@1x.jpg");

      @include retina(2) {
        background-image: url("../img/action-car-xc60-is-mobile@2x.jpg");
      }

      @include retina(3) {
        background-image: url("../img/action-car-xc60-is-mobile@3x.jpg");
      }

      @include desktop {
        padding-bottom: 80px;
        background-image: url("../img/action-car-xc60-is-desktop@1x.jpg");

        @include retina(2) {
          background-image: url("../img/action-car-xc60-is-desktop@2x.jpg");
        }
      }
    }
  }

  .offers__title--mobile {
    @include desktop {
      display: none;
    }
  }

  .offers__title--desktop {
    display: none;

    @include desktop {
      display: block;
      text-align: center;
      max-width: 920px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .offers__text {
    margin-bottom: 0;

    @include desktop {
      margin: 0 auto;
      margin-bottom: 40px;
      text-align: center;
      width: 100%;
      max-width: 1100px;
      padding-right: 0;
      height: auto;

    }
  }

  .offers__wrapper {
    justify-content: center;
  }
}

.offers__text--model {
  @include desktop {
    text-align: center;
  }
}
