.photos {
  width: 100%;
  min-height: 155px;

  background: $light-bg;

  @include desktop {
    //min-height: 550px;
  }
}

.photos__wrapper {
  width: 100%;

  @include desktop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

.photos__item {
  width: 280px;
  height: auto;

  @include desktop {
    margin-bottom: 10px;
    margin-right: 10px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.photos__item img {
  width: 100%;
}
