.promo {
  position: relative;
  width: 100%;
  min-height: 465px;

  @include desktop {
    min-height: auto;
    height: calc(100vh - 200px);
    overflow-x: hidden;
  }
}

.promo__bg-image {
  width: 100%;
  height: 235px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  background-image: url("../img/xc60-promo-mobile@1x.jpg");

  @include retina(2) {
    background-image: url("../img/xc60-promo-mobile@2x.jpg");
  }

  @include retina(3) {
    background-image: url("../img/xc60-promo-mobile@3x.jpg");
  }

  @include desktop {
    background-position: center;
    height: 100%;
    background-image: url("../img/xc60-promo-desktop@1x.jpg");

    @include retina(2) {
      background-image: url("../img/xc60-promo-desktop@2x.jpg");
    }
  }

  &--xc90 {
    background-image: url("../img/xc90-promo-mobile@x1.jpg");
    @include retina(2) {
      background-image: url("../img/xc90-promo-mobile@x2.jpg");
    }
    @include retina(3) {
      background-image: url("../img/xc90-promo-mobile@x3.jpg");
    }

    @include desktop {
      background-image: url("../img/xc90-promo-desktop@x1.jpg");

      @include retina(2) {
        background-image: url("../img/xc90-promo-desktop@x2.jpg");
      }
    }
  }

  &--v90cc {
    background-image: url("../img/v90cc-promo-mobile@x1.jpg");
    @include retina(2) {
      background-image: url("../img/v90cc-promo-mobile@x2.jpg");
    }
    @include retina(3) {
      background-image: url("../img/v90cc-promo-mobile@x3.jpg");
    }

    @include desktop {
      background-image: url("../img/v90cc-promo-desktop@x1.jpg");

      @include retina(2) {
        background-image: url("../img/v90cc-promo-desktop@x2.jpg");
      }
    }
  }
}

.promo__bg-color {
  display: block;
  width: 100%;
  height: 230px;
  background: #000000;

  @include desktop {
    display: none;
  }
}

.promo--dealer-offer {
  min-height: 415px;

  @include desktop {
    min-height: 810px;
    padding: 0;
  }
}

.promo__item-wrapper {
  position: absolute;
  left: 20px;
  bottom: 40px;

  @include desktop {
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    width: 1110px;
    margin: 0 auto;
  }
}

.promo__title {
  margin-bottom: 12px;

  @include volvo_h3;
  color: $light-bg;
  letter-spacing: 0.5px;

  @include desktop {
    @include volvo_h1;
    margin-bottom: 22px;
    text-align: center;
  }
}

.promo__text {
  margin-bottom: 34px;
  padding-right: 35px;
  height: 75px;

  @include heliosc-regular;
  color: $light-bg;
  font-size: 18px;
  line-height: 25px;

  overflow: hidden;

  @include desktop {
    margin-bottom: 2px;
    width: 1110px;
    min-height: 110px;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
  }
}

.promo__price {
  color: $orange-bg;
}

.promo__wrapper {
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.promo__link {
  @include desktop {
    margin-right: 30px;
  }
}
