.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
}

.jq-selectbox__select {
  @include heliosc-regular;

  display: flex;
  justify-content: space-between;


  height: 60px;
  width: 100%;
  padding: 16px 60px 0 25px;

  font-size: 16px;
  line-height: 25px;
  color: $light-bg;
  text-shadow: none;
  text-align: left;
  box-shadow: none;

  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0;
  background: transparent;

  &:hover {
    background: transparent;
  }

  @include desktop {
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.jq-selectbox__select:active {
  background: transparent;
  box-shadow: none;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid $blue-bg;
  outline: none;
  background: transparent;
}

.jq-selectbox__select-text {
  width: 100%;
}

.jq-selectbox .placeholder {
  color: $light-bg;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  border-left: 0;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 10px;
  height: 6px;
  border: 0;
  background-image: url('../icons/arrow.svg');
  background-repeat: no-repeat;
  background-size: auto;
  transition: all 0.5s;

  &--rotate {
    transform: rotate(180deg);
  }
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border: 0;
}

.jq-selectbox__dropdown {
  box-sizing: border-box;
  width: 99.5%;
  margin: 0;
  padding: 0;
  top: 60px;
  left: 1px;
  border-color: transparent;
  border-radius: 0;
  background: $blue-bg;
  box-shadow: 0;
  text-align: left;
  @include heliosc-regular;
  font-size: 16px;
  line-height: 25px;
  color: $light-bg;
  outline: 1px solid $blue-bg;

  @include tablet {
    width: 99.8%;
  }

  @include desktop {
    width: 99.3%;
  }
}

.jq-selectbox ul {
  margin: 0;
  padding: 0;
}

.jq-selectbox li {
  min-height: 25px;
  padding-left: 25px;
  padding-bottom: 6px;
  color: $light-bg;

  &:first-of-type {
    padding-top: 15px;
  }

  &:last-of-type {
    padding-bottom: 15px;
  }
}

.jq-selectbox li.selected {
  background-color: $blue-bg;
  color: $main-bg;

  &:hover {
    color: $main-bg;
  }
}

.jq-selectbox li:hover {
  color: $main-bg;
  background-color: $blue-bg;
}

.jq-selectbox li.option {
  padding-left: 0;
}
