.test-drive {
  width: 100%;
  min-height: 675px;
  background: $main-bg;

  @include desktop {
    min-height: 445px;
    width: 1110px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}

.test-drive--dealer {

  @include desktop {
    margin-bottom: 0;
  }
}
