.version {
  display: flex;
  flex-direction: column;
  background-color: $gray-bg;
//  background: #ffffff;
  position: relative;

  @include desktop {
    margin: 0 auto;
    max-width: 1110px;
  //  height: calc(100vh - 230px);
    height: auto;
    width: 100%;
  }
}

.version-container {
  display: block;
  background-color: $gray2-bg;

  &--hidden {
    display: none;
  }

  @include desktop {
    padding: 0 10px 10px;
  }
}

.version:not(:first-of-type) {
  display: none;
}

.version--fix {
  @include desktop {
    height: calc(100vh - 55px);
    position: fixed;
    top: 55px;
    z-index: 1;
  }
}

.version__preview {
  display: none;

  @include desktop {
    width: 100%;
    height: 100%;
    min-height: 320px;
//  max-width: calc(100% - 25%);
    max-width: 1110px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    display: flex;
  //  flex-direction: row;
  //  justify-content: space-between;
    z-index: 10;
  }

//  @include complect {
//    max-width: calc(100% - 360px);
//  }
}

.version__wrapper {
  display: none;

  @include desktop {
    height: 100%;
    width: calc((100vh - 230px) / 4);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    align-self: stretch;
  }
}

.version__item {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $separator;
  cursor: pointer;

  &:nth-last-child(1) {
    border-bottom: 1px solid $separator;
  }

  &:hover .version__item-more svg {
    fill: #d4d1bd;
  }

  &:hover .version__item-more svg path {
    fill: #ffffff;
  }

  img {
    width: 50px;
    height: 50px;
  }

  &--equipment {
    width: 100%;
    height: 60px;
    border: 1px solid $header-darkblue-on-white;

    display: flex;
    align-items: center;
    justify-content: center;
    @include heliosc-bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }

  @include desktop {
    width: 510px;

    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:nth-last-child(2) {
      border-bottom: 1px solid $separator;
    }

    &--equipment {
      width: 288px;
      height: 60px;

      &:nth-child(odd) {
        margin-right: 0;
      }
    }

    img {
      width: 70px;
      height: 70px;
    }
  }
}

.version__item-name {
  margin-left: 10px;
  @include heliosc-regular;
  line-height: 20px;
  font-size: 15px;
  color: $main-text;

  @include desktop {
    margin-left: 20px;
    line-height: 25px;
    font-size: 18px;
  }
}

.version__item--photo {
  margin: 0;
  min-width: 80px;
  min-height: 80px;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .version__item-more {
    margin: 0;
    width: 100%;
    height: auto;
    cursor: pointer;
    z-index: 10;

    &:hover,
    &:focus {
      transform: scale(1.2);
      transition: all 1s;
    }
  }
}

.version__wrapper-photo {
  width: 100%;
  min-height: 240px;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent, #111 100%);
    background-position: center bottom;
    background-size: 100% 160px;
    z-index: 2;
  }

  @include desktop {
    height: 640px;

    &::before {
      height: 160px;
    }
  }
}

.version__btn-open {
  width: 200px;
  padding-left: 31px;
  position: absolute;
  top: 192px;
  left: 50%;
  transform: translateX(-48%);

  @include heliosc-regular;
  color: $light-bg;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.2px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  z-index: 1000;

  span {
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
    background-position: 0 1.11em;
    background-repeat: no-repeat;
    background-size: 100% 1px;
  }

  &:hover {
    color: $orange-text;

    & span {
      background-image: linear-gradient(rgba(209, 118, 26, 0.25), rgba(209, 118, 26, 0.25));
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 26px;
    height: 22px;
    background-image: url("../icons/photos.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @include desktop {
    top: 592px;
  }
}

.version__btn-close {
  display: none;

  @include desktop {
    height: 70px;
    width: 140px;
    padding-left: 90px;
    position: absolute;
    left: 0;
    top: 570px;

    @include heliosc-regular;
    color: $main-text;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    z-index: 9;

    & span {
      background-image: linear-gradient(rgba(19, 19, 24, 0.15), rgba(19, 19, 24, 0.15));
      background-position: 0 1.11em;
      background-repeat: no-repeat;
      background-size: 100% 1px;
    }

    &--black {
      color: $light-bg;
    }

    &:hover {
      color: $orange-text;

      & span {
        background-image: linear-gradient(rgba(209, 118, 26, 0.25), rgba(209, 118, 26, 0.25));
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 80px;
      height: 70px;
      border: none;
      border-radius: 0;
      border-top-right-radius: 25px;
      background-repeat: no-repeat;
      background-position: left;
      background-size: cover;
    }

    &--xc60-1::before {
      background-image: url('../img/complectation/XC60/xc60-back1.jpg');
    }

    &--xc60-2::before {
      background-image: url('../img/complectation/XC60/xc60-back2.jpg');
    }

    &--xc60-3::before {
      background-image: url('../img/complectation/XC60/xc60-back3.jpg');
    }

    &--xc60-4::before {
      background-image: url('../img/complectation/XC60/xc60-back4.jpg');
    }

    &--xc60-5::before {
      background-image: url('../img/complectation/XC60/xc60-back5.jpg');
    }

    &--xc90-1::before {
      background-image: url('../img/complectation/XC90/xc90-back1.jpg');
    }

    &--xc90-2::before {
      background-image: url('../img/complectation/XC90/xc90-back2.jpg');
    }

    &--xc90-3::before {
      background-image: url('../img/complectation/XC90/xc90-back3.jpg');
    }

    &--xc90-4::before {
      background-image: url('../img/complectation/XC90/xc90-back4.jpg');
    }

    &--v90cc-1::before {
      background-image: url('../img/complectation/V90CC/v90cc-back1.jpg');
    }

    &--v90cc-2::before {
      background-image: url('../img/complectation/V90CC/v90cc-back2.jpg');
    }

    &--v90cc-3::before {
      background-image: url('../img/complectation/V90CC/v90cc-back3.jpg');
    }

    &--v90cc-4::before {
      background-image: url('../img/complectation/V90CC/v90cc-back4.jpg');
    }

    &--v90cc-5::before {
      background-image: url('../img/complectation/V90CC/v90cc-back5.jpg');
    }
  }
}

.version__slider {
  width: 100%;
  min-height: 240px;
  background-color: $lightgray-bg;
  height: 240px;

  picture {
    display: none;
    height: 100%;
    width: 100%;
  }

  @include desktop {
    width: 100%;
    //height: calc(100vh - 200px);
    height: 100%;
    flex-shrink: 0;
    align-self: center;
  }

//  @include complect {
//    flex-shrink: 1;
//    flex-grow: 0;
//    width: 100%;
//  }
}

.version__slider .slick-dots {
  bottom: 10px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;

  @include desktop {
    display: block;
    bottom: 10px;
  }
}

.version__slider .slick-dots li {
  width: 100%;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  @include desktop {
    margin-right: 30px;
    width: auto;
    height: auto;
  }
}

.version__slider .slick-dots button {
  position: relative;
  width: 100%;
  height: 20px;

  @include desktop {
    width: 61px;
    height: 40px;
  }
}

.version__slider .slick-dots button::before {
  content: "";
  background-color: #d4d1bd;
  opacity: 1;
  width: 100%;
  height: 1px;
  top: 10px;
  left: 0;
  position: absolute;
  z-index: 1;

  @include desktop {
    top: 20px;
    left: 0;
    position: absolute;
    width: 61px;
    height: 1px;
    background-color: #d4d1bd;
    opacity: 1;
  }
}

.version__slider .slick-dots li.slick-active button::before {
  background-color: #1c3257;
}

.version__slider .slick-list {
  @include desktop {
    margin-top: 0;
    height: 100%;
  }
}

.version__slider .slick-list > .slick-track {
  height: 100%;
}

.version__img--int {
  width: 100%;
  height: 240px;
  object-fit: cover;

  @include desktop {
    width: 100%;
    height: 640px;
    object-fit: cover;
  }
}

.version__img--ext {
  width: 100%;
  height: 240px;
  object-fit: contain;

  @include desktop {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

//**********************************************

.version__request {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $gray2-bg;

  @include desktop {
    height: 100%;
    width: 1110px;
    left: 0;
  }
}

.version__content-cover {
  overflow: auto;
  padding: 28px 20px 20px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  background-color: $light-bg;

  @include desktop {
    width: 1110px;
    margin-bottom: 65px;
    align-items: center;
    border-bottom: none;
    padding: 0 30px 50px;
    box-shadow: -25px 0 50px rgba(0, 0, 0, 0.05);
  }
}

.version__constant {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $light-bg;
  box-shadow: -25px 0 50px rgba(0, 0, 0, 0.05);

  @include desktop {
    width: 100%;
    height: 210px;
    margin: 0 0 30px;
    padding-left: 117px;
    padding-right: 125px;
    flex-wrap: nowrap;
  }
}

.version__const-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0 25px;

  @include desktop {
    padding: 0;
    padding-top: 25px;
  }
}

.version__img-item {
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  width: 109px;
  justify-content: center;

  span {
    margin-top: 12px;
    @include heliosc-regular;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }

  @include desktop {
    align-items: center;
    width: 122px;
    padding-top: 0;

    span {
      margin-top: 20px;
      text-align: center;
    }

    &:nth-of-type(1) {
      margin-top: -2px;
      margin-left: 0px;
    }

    &:nth-of-type(3) {
      margin-top: -2px;
      margin-left: 4px;
    }

    &:nth-of-type(5) {
      margin-top: 10px;
      margin-left: 0px;
    }

    &:nth-of-type(7) {
      margin-top: 14px;

      span {
        margin-top: 18px;
      }
    }

    &:nth-of-type(9) {
      margin-top: 17px;

      span {
        margin-top: 22px;
      }
    }
  }
}

.version__plus {
  display: none;

  @include desktop {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    width: 21px;

    &:nth-of-type(2) {
      margin-left: 6px;
    }

    &:nth-of-type(4) {
      margin-left: 4px;
    }

    &:nth-of-type(6) {
      margin-right: 2px;
    }

    &:nth-of-type(8) {
      margin-right: 14px;
    }
  }
}

.version__footer {
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid $separator;
  padding: 20px;
  background-color: transparent;

  @include desktop {
    width: 1110px;
    height: 160px;
    margin: 20px 0 70px;
    padding: 0 50px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

/*  @media (min-width: 1280px) {
    &--show {
      &::after {
        content: "";
        position: absolute;
        top: -121px;
        left: 0;
        right: 0;
        display: block;
        height: 120px;
        z-index: 2;

        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(250, 250, 250, 0.9));
        pointer-events: none;
      }
    }
  } */
}

.version__label {
  position: relative;
  top: -15px;
  left: 50%;
  transform: translateX(-53%);
  z-index: 1;
  align-self: flex-start;
  display: block;
  width: 170px;
  height: auto;

  padding: 8px 0;
  color: $light-bg;
  @include heliosc-bold;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  background-color: $orange-bg;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    bottom: 0;
    width: 30px;
    box-sizing: border-box;
    transform: skewX(-45deg);
    z-index: -1;
    background-color: $orange-bg;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    bottom: 0;
    width: 30px;
    box-sizing: border-box;
    transform: skewX(45deg);
    z-index: -1;
    background-color: $orange-bg;
  }

  @include desktop {
    width: 200px;
    transform: translateX(-49%);
    font-size: 13px;
  }
}

/*.version__caption {
  position: relative;
  @include volvobroad-pro;
  display: block;
  margin-bottom: 22px;
  width: 100%;
  max-width: 335px;

  line-height: 40px;
  font-size: 40px;
  letter-spacing: 0.5px;
  color: $header-darkblue-on-white;
  text-align: left;

  &::after {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 0;
    display: block;
    width: 30px;
    height: 1px;
    background-color: #beb4a5;
  }
} */

.version__caption {
  display: none;
  margin: 13px 0 44px;

  @include heliosc-regular;
  color: $main-text;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.3px;
  width: 100%;
  text-align: center;

  &--blue {
    color: $blue-bg;
  }

  @include desktop {
    margin: 43px 0 42px;
    font-size: 26px;
    line-height: 35px;
  }
}


.version__note {
  min-width: 240px;
  padding-bottom: 26px;
  margin-bottom: 28px;
  @include heliosc-regular;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 1px;
    background-color: $separator;
  }

  @include desktop {
    min-width: 232px;
    width: 232px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;

    &::after {
      display: none;
    }

    span {
      @include heliosc-bold;
      color: $blue-bg;
    }
  }
}

.version__toggle-wrap {
  width: auto;
  height: 40px;
  margin-bottom: 50px;
  align-self: center;
  display: flex;
}

.version__toggle {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  @include heliosc-bold;
  color: $main-text;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $toggle;
  outline: none;
  cursor: pointer;

  &--active {
    color: $light-bg;
    background-color: $main-bg;
  }
}



.version__wrap-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;

  @include desktop {
    margin-bottom: 0;
    margin-left: 28px;

    a {
      margin-left: 20px;
    }
  }
}

.version__price {
  @include volvobroad-pro;
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 4px;
  margin-right: 20px;

  line-height: 38px;
  font-size: 40px;
  letter-spacing: 0.5px;
  color: $header-blue-on-white;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 0;

    width: 16px;
    height: 24px;
    background: url("../icons/rub.svg");
  }

  @include desktop {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.version__description {
  @include heliosc-regular;
  display: block;
  padding-bottom: 22px;
  flex-shrink: 0;

  line-height: 25px;
  font-size: 16px;
  color: $main-text;

  &:last-of-type {
    border-bottom: 1px solid #d4d1bd;
  }
}

.version__fill {
  position: relative;
  padding-top: 0;
  padding-bottom: 20px;

  @include desktop {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
}

.version__title {
  @include heliosc-regular;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 25px;
  color: $blue-bg;
}

.version__item--v-middle {
  align-items: flex-start;
}

.version__item-more {
  margin-left: auto;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-top: 0px;

  outline: none;
  background: none;

  &--active svg {
    fill: #d4d1bd;
  }

  &--active svg path {
    fill: #ffffff;
  }

  &:hover svg {
    fill: #d4d1bd;
  }

  &:hover svg path {
    fill: #ffffff;
  }
}

.version__btn {
  min-width: 240px;
  height: 60px;
  @include heliosc-bold;
  display: block;
  padding: 5px 0;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  height: 60px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: $header-darkblue-on-white;
  transition: all 0.4s;

  @include desktop {
    width: 280px;
    margin-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
  }

  &:hover {
    background: $header-darkblue-on-white-hover;
  }

  &:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), #3a75d6;
  }

  &:disabled {
    opacity: 0.15;
  }
}

.version__link {
  @include heliosc-regular;
  margin-bottom: 23px;

  line-height: 25px;
  font-size: 16px;
  color: $main-text;
  text-decoration: none;

  & span {
  //  background-image: linear-gradient($separator, $separator);
  //  background-position: 0 1.11em;
  //  background-repeat: no-repeat;
  //  background-size: 100% 1px;
    border-bottom: 1px solid $separator;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover span,
  &:focus span {
    color: $blue-text;
  //  background-image: linear-gradient(rgba($blue-text, 0.25), rgba($blue-text, 0.25));
    border-bottom: 1px solid rgba($blue-text, 0.25);
  }
}

.version__change-wrapper {
  position: absolute;
  top: 20px;
  left: 50%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 50px;

  transform: translateX(-50%);

  @include desktop {
    top: 30px;
  }
}

.version__change-color {
  width: 16px;
  height: 11px;
  margin-right: 20px;
  position: relative;
  background: transparent;
  cursor: pointer;
  outline: none;
  font-size: 0;
  opacity: 1;

  &:last-of-type {
    margin-right: 0;
  }

  svg {
    transform-origin-x: 0;
    transform-origin-y: 0;
    transform-origin-z: 0;
    width: 16px;
    height: 11px;
  }

  &--active {
    width: 31px;
    height: 21px;
    svg {
      width: 31px;
      height: 21px;
    }
  }

  &--desable {
    cursor: not-allowed;
    svg {
      opacity: 0.5;
    }
  }

  &--c019 {
   svg {
     .ext {
       fill: $c019;
     }
   }
  }
  &--c477 {
    svg {
      .ext {
        fill: $c477;
      }
    }
  }
  &--c492 {
    svg {
      .ext {
        fill: $c492;
      }
    }
  }

  &--c614 {
    svg {
      .ext {
        fill: $c614;
      }
    }
  }
  &--c714 {
    svg {
      .ext {
        fill: $c714;
      }
    }
  }
  &--c717 {
    svg {
      .ext {
        fill: $c717;
      }
    }
  }
  &--c719 {
    svg {
      .ext {
        fill: $c719;
      }
    }
  }
  &--c721 {
    svg {
      .ext {
        fill: $c721;
      }
    }
  }
  &--c722 {
    svg {
      .ext {
        fill: $c722;
      }
    }
  }
  &--c723 {
    svg {
      .ext {
        fill: $c723;
      }
    }
  }
  &--c724 {
    svg {
      .ext {
        fill: $c724;
      }
    }
  }
  &--c725 {
    svg {
      .ext {
        fill: $c725;
      }
    }
  }

  &--ra00 {
    svg {
      .int {
        fill: $ra00;
      }
    }
  }

  &--ra02 {
    svg {
      .int {
        fill: $ra02;
      }
    }
  }

  &--ra30 {
    svg {
      .int {
        fill: $ra30;
      }
    }
  }

  &--ra20 {
    svg {
      .int {
        fill: $ra20;
      }
    }
  }

  &--ra22 {
    svg {
      .int {
        fill: $ra22;
      }
    }
  }

  &--rc00 {
    svg {
      .int {
        fill: $rc00;
      }
    }
  }

  &--rc20 {
    svg {
      .int {
        fill: $rc20;
      }
    }
  }

  &--rc30 {
    svg {
      .int {
        fill: $rc30;
      }
    }
  }

  &--wc00 {
    svg {
      .int {
        fill: $wc00;
      }
    }
  }

  &--ua00 {
    svg {
      .int {
        fill: $ua00;
      }
    }
  }

  &--ua02 {
    svg {
      .int {
        fill: $ua02;
      }
    }
  }

  &--u310 {
    svg {
      .int {
        fill: $u310;
      }
    }
  }
}

.version__color-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-right: 10px;
}

.version__slider .slick-slide {
  outline: none;

  @include desktop {
    // margin: 0 50px;
  }
}

.version__slider .slick-next {
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 10px;
    top: 20px;
    left: 23px;
    background-image: url("../icons/arrow-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }

  &:hover::before {
    background-image: url("../icons/arrow-right-hover.svg");
  }

  &::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;

    border: 1px solid #d4d1bd;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.5s;
  }

  &:active::after {
    transform: scale(0.8);
  }

  &:hover::after {
    background-color: rgba(212, 209, 189, 0.1);
  }
}

.version__slider .slick-prev {
  left: 29px;
  width: 50px;
  height: 50px;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 10px;
    top: 19px;
    left: 21px;
    background-image: url("../icons/arrow-left.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }

  &:hover::before {
    background-image: url("../icons/arrow-left-hover.svg");
  }

  &::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;

    border: 1px solid #d4d1bd;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.5s;
  }

  &:hover::after {
    background-color: rgba(212, 209, 189, 0.1);
  }

  &:active::after {
    transform: scale(0.8);
  }
}

.version__slider--black .slick-next {
  &::before {
    background-image: url("../icons/arrow-black-right.svg");
  }

  &:hover::before {
    background-image: url("../icons/arrow-black-right-hover.svg");
  }

  &::after {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.15);
  }

  &:hover::after {
    background-color: #ffffff;
  }
}

.version__slider--black .slick-prev {
  &::before {
    background-image: url("../icons/arrow-black-left.svg");
  }

  &:hover::before {
    background-image: url("../icons/arrow-black-left-hover.svg");
  }

  &::after {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.15);
  }

  &:hover::after {
    background-color: #ffffff;
  }
}

.version__slider--black .slick-dots li button::before {
  background-color: rgba(255, 255, 255, 0.15);
}

.version__slider--black .slick-dots li.slick-active button::before {
  background-color: #ffffff;
}

.version__slider--hide .slick-dots li button::before {
  background-color: transparent;
  cursor: default;
}

.version__slider--hide .slick-dots li.slick-active button::before {
  background-color: transparent;
  cursor: default;
}

.version__info {
  display: none;
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  background-color: #ffffff;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  box-shadow: -25px 0 50px rgba(0, 0, 0, 0.05);

  @include desktop {
    z-index: 1001;
    overflow: visible;
    top: 0;
    left: auto;
    right: 0;
    width: 560px;
    height: 100vh;
  }
}

.vesrion__info-content {
  //overflow-y: scroll;
  //-webkit-overflow-scrolling: touch;
  height: 100%;
}

.version__info-close {
  z-index: 1;
  cursor: pointer;
  width: 22px;
  height: 22px;
  display: block;
  background: none;
  margin: 0 auto;
  margin-bottom: 17px;
  outline: none;

  &:hover svg path {
    stroke: #3a75d6;
  }

  &:active svg path {
    stroke: #1c3257;
    opacity: 0.15;
  }

  @include desktop {
    position: absolute;
    top: 9px;
    left: -22px;
  }
}

.version__info-substrate {
  display: none;

  @include desktop {
    display: block;
    position: absolute;
    left: -32px;
    top: 0;
    width: 40px;
    height: 50px;
  }
}

.version__info-caption {
  @include heliosc-regular;
  display: block;
  position: relative;
  margin-bottom: 13px;

  color: $main-text;
  line-height: 30px;
  font-size: 20px;

  &::after {
    @include desktop {
      content: "";
      position: absolute;
      left: 0;
      bottom: -23px;
      display: block;
      width: 30px;
      height: 1px;
      background-color: #d4d1bd;
    }
  }

  @include desktop {
    line-height: 35px;
    font-size: 26px;
    margin-left: 21px;
    margin-bottom: 43px;
  }
}

.version__info-text {
  @include heliosc-regular;
  color: $main-text;
  line-height: 25px;
  font-size: 16px;
  margin: 10px;
  margin-left: 0;
  text-align: justify;

  @include desktop {
    display: block;
    line-height: 25px;
    font-size: 18px;
    margin: 20px;
  }
}

.version__info-list {
  @include heliosc-regular;
  list-style: none;
  color: $main-text;
  line-height: 25px;
  font-size: 16px;

  @include desktop {
    display: block;
    line-height: 25px;
    font-size: 18px;
    margin-left: 20px;
  }
}

.version__info-item {
  display: flex;
  align-items: center;

  @include desktop {
    margin-bottom: 5px;
  }

  &::before {
    content: "";
    box-sizing: border-box;
    display: block;
    min-width: 10px;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 1px solid #3a75d6;
    border-radius: 50%;
  }
}

.version__info-img {
  margin: 0 auto;
  margin-bottom: 18px;
}
