.video {
  position: relative;
  width: 100%;
  min-height: 320px;
  background: $light-bg;

  & #player {
    display: block;
  }

  @include desktop {
    width: 100%;
    height: 730px;
  }
}

.video__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  cursor: pointer;

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;

  @include desktop {
    background-size: cover;
  }
}

.video__overlay--v90cc {
  background-image: url("../img/bg-mobile-v90cc-video@1x.jpg");

  @include retina(2) {
    background-image: url("../img/bg-mobile-v90cc-video@2x.jpg");
  }

  @include retina(3) {
    background-image: url("../img/bg-mobile-v90cc-video@3x.jpg");
  }

  @include desktop {
    background-image: url("../img/bg-desktop-v90cc-video@1x.jpg");

    @include retina(2) {
      background-image: url("../img/bg-desktop-v90cc-video@2x.jpg");
    }
  }
}

.video__overlay--xc60 {
  background-image: url("../img/bg-mobile-xc60-video@1x.jpg");

  @include retina(2) {
    background-image: url("../img/bg-mobile-xc60-video@2x.jpg");
  }

  @include retina(3) {
    background-image: url("../img/bg-mobile-xc60-video@3x.jpg");
  }

  @include desktop {
    background-image: url("../img/bg-desktop-xc60-video@1x.jpg");

    @include retina(2) {
      background-image: url("../img/bg-desktop-xc60-video@2x.jpg");
    }
  }
}

.video__overlay--xc90 {
  background-image: url("../img/bg-mobile-xc90-video@1x.jpg");

  @include retina(2) {
    background-image: url("../img/bg-mobile-xc90-video@2x.jpg");
  }

  @include retina(3) {
    background-image: url("../img/bg-mobile-xc90-video@3x.jpg");
  }

  @include desktop {
    background-image: url("../img/bg-desktop-xc90-video@1x.jpg");

    @include retina(2) {
      background-image: url("../img/bg-desktop-xc90-video@2x.jpg");
    }
  }
}

.video__overlay--hidden {
  display: none;
}

.video-youtube__content_hide-origin-play-btn {
  width: 120px;
  height: 120px;
  border: none;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
}

.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 120px;
  height: 120px;

  & svg {
    position: absolute;
    width: 30px;
    height: 30px;

    top: 50%;
    left: 50px;
    transform: translateY(-50%);
  }

  @include desktop {
    width: 200px;
    height: 200px;

    & svg {
      width: 40px;
      height: 40px;
      left: 85px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    top: 0;
    left: 0;

    cursor: pointer;

    border: 1px solid #ffffff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    transition: all 0.5s;

    @include desktop {
      width: 200px;
      height: 200px;
    }
  }

  &:hover::after {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:active::after {
    transform: scale(0.833);

    @include desktop {
      transform: scale(0.9);
    }
  }

  &:disabled {
    & svg {
      stroke: rgba(255, 255, 255, 0.15);
    }

    &::after {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}

.video__btn--hidden {
  display: none;
}
